<div class="body-inner-part">
  <div class="bradcram"><span><a href="{$tconfig.tsite_url}">{$smarty.const.LBL_HOME}</a>&nbsp;&nbsp;&raquo;&nbsp;&nbsp;{$smarty.const.LBL_EMAIL_VERI_NOTIFICATION}</span></div>
  <div class="main-inner-page">
    <h2>{$smarty.const.LBL_EMAIL_VERI_NOTIFICATION}</h2>
    <div class="right-inner-part">
      <form name="frmemailverify" enctype="multipart/form-data" id="frmemailverify" action="{$tconfig.tsite_url}index.php?file=m-verification_a" method="post">
        <input type="hidden" name="action" id="action" value="emailverify">
        <input type="hidden" name="vEmail" id="vEmail" value="{$smarty.session.sess_vEmail}">
        <input type="hidden" name="vName" id="vName" value="{$smarty.session.sess_vFirstName} {$smarty.session.sess_vLastName}">
      </form>
      <h2>{$smarty.const.LBL_EMAIL_VERI_NOTIFICATION}</h2>
      <p>{$smarty.const.LBL_VARIFICATIO_NOTE1}
      <!--Please verify your Email and Phone No. before you post new ride or book the ride-->
      <br>
      <a class="link-dashbord" onClick="checkmail();" href="javascript:void(0);" style="float:left;">{$smarty.const.LBL_VERIFY_EMAIL_PHONE}</a>
      <!--<a class="link-dashbord" href="{$tconfig.tsite_url}Member-Varification" style="float:left;">{$smarty.const.LBL_VERIFY_EMAIL_PHONE}</a>-->
      </p>        
      <!--<p>{$smarty.const.LBL_VARIFICATION_NOTE2}
      <br><a class="link-dashbord" href="{$tconfig.tsite_url}personal-information" style="float:left;">{$smarty.const.LBL_EDIT_PAYPAL_ID}</a></p>-->
    </div>
	{include file="left.tpl"}
  </div>
  <div style="clear:both;"></div>
</div>
{literal} 
<script>
function checkmail(){
 document.frmemailverify.submit();
}
</script> 
{/literal}
