/*
	Slideshow
*/

#slides {
	position:absolute;
	left:0px;
	top:0px;
	z-index:1;
} 

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	height: 491px;
	width:1341px;
	overflow:hidden;
	position:relative;
	display:none;
} 
  
/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container a {
	width:1341px;
	height:491px;
	display:block;
}  
/*
	Next/prev buttons
*/

#slides .next, #slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:1;
}
#slides .next {
	left:585px;
}  
/*
	Pagination
*/

.pagination {
   margin: 0 auto;
    position: relative;
    text-align: center;
    top:-18px;
    width:110px;
    z-index: 9999;}
	
.pagination li {
    float:left;
	margin:0 2px;
	list-style:none;
}
.pagination li a {
	display:block;
	width:13px;
	height:0;
	padding-top:13px;
	background:url(../../images/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
	outline:hidden;
}
.pagination li.current a {
	background-position:0 -17px;
}