@media print {
* {
	text-shadow: none!important;
	color: #000!important;
	background: transparent!important;
	box-shadow: none!important
}
a, a:visited {
	text-decoration: underline
}
a[href]:after {
	content: " (" attr(href) ")"
}
abbr[title]:after {
	content: " (" attr(title) ")"
}
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
	content: ""
}
pre, blockquote {
	border: 1px solid #999;
	page-break-inside: avoid
}
thead {
	display: table-header-group
}
tr, img {
	page-break-inside: avoid
}
img {
	max-width: 100%!important
}
@page {
margin:.5cm
}
p, h2, h3 {
	orphans: 3;
	widows: 3
}
h2, h3 {
	page-break-after: avoid
}
}
@media screen and (min-width:1px) and (max-width:767px) {

.theme-default .nivo-controlNav{ right:0!important;}

#top-part{ position:relative; background:#000; padding:0 0 10px; height:auto; text-align:center;}
.top-part-inner{ width:100%;}
.logo{ width:100%; padding:9px 0 0; text-align:center;}
.lag{width:100%;}
.social-icon{width:100%; margin:20px 0 3px;}
.tabs-main ul li{ width:100%;}
.tabs-main ul li a{ width:100%; margin-bottom:5px;}
.ratings{ width:100%;}
.car-share-preferences{ width:95%;}
.car-share-preferences label em{ width:100%; text-align:left; margin-bottom:5px; margin-top:6px;}

.express{ float:left; width:100%; margin:20px 0 0;}
.top-right-part{ margin:12px 0 0; width:100%; text-align:center;}

.navgaction{ position:relative; top:0;}
.menu-top{margin:0!important;}

#header{ width:100%;}
#header img{ width:100%;}
.sldier-inner{ display:none;}

.body-top-search-part-inner{ width:98%;}
.body-top-search-part{ background:none repeat scroll 0 0 #0094C8; float:left; height:auto; padding-bottom:10px; width:100%;}
.find-cla{ margin-bottom:10px;}

.trip-main{ margin:0 auto 10px; padding:0px; width:406px; float:none;}
.body-mid-part-inner .last{ float:left;}
.rides-around{ float:none; height:116px; margin:0 auto 10px;}
.rides-around2{ float:none; height:116px; margin:0 auto 10px;}
.rides-around3{ float:none; height:116px; margin:0 auto 10px;}
.rides-around4{ float:none; height:116px; margin:0 auto 10px;}
.body-mid-part-inner .trip-main-last{ float:none;}

.body-mid-part{ float:left; width:100%;}
.body-mid-part-right{ float:left;}

.latest-infor{ width:100%;}
.latest-rides{ margin-bottom:15px; margin-left:5px; width:98%; padding:0 0 5px;}
.last-chance{ margin-bottom:15px; margin-left:5px; width:97%;}
.latest-blogs{ float:left; margin-bottom:0; margin-left:5px; width:auto;}
.latest-rides em{ width:98%;}

.body-bottom-part-t-part { background: url("../../images/body-bottton-img-bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0); float: left; height: auto; margin:20px 0 0; padding:0 0 15px; width: 100%;}
.body-bottom-part-t-part-inner { float: none;margin: 0 auto; padding: 0; width:100%; }
.facebook-cov{ margin:30px 0 0 20px; padding:0px; float:left;}

.chance-deails{ width:99%; margin:3px 0 0 5px;}

.video1{ width:350px; margin-left:10px; margin-top:15px;}
.video1 h2{ margin-bottom:10px;}
.trust-safety{ width:289px; margin-left:10px; margin-top:15px;}
.trust-safety h2{ margin-bottom:10px;}
.facebook-cov{ width:94%; margin-left:10px; margin-top:15px;}

.featured-in{ width:97%; margin-left:10px; margin-top:15px;}
.featured-in-inner{ width:100%;}

#footer{ height:auto; background:url("../../images/footer-bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);}
.footer-inner{ float:left; width:96%; margin:10px 0 0 10px;}
.footer-inner-left{ width:100%; margin-bottom:20px;}
.bottlinkbox1{ width:100%; margin-bottom:15px;}
.bottlinkbox2{ width:100%;}
.footer-inner-right{ float:left;}

/*................inner-page......................*/
.bradcram span{ width:98%;}
.body-inner-part{ width:99%; overflow:hidden;}
.left-about-part{ width:100%;}
.right-inner-part{ margin:0 0 20px 5px; width:97%; float:left;}

.contact-left{ width:100%;}
.contact-left p{ width:100%; float:left;}
.contact-left p img{ float:left;}
.contact-right{ width:99%; float:left; margin:0; height:auto; padding:5px;}
.form{ width:96%; padding:10px 10px 20px;} 
.form-box{ width:100%;}
.form-box1{ width:100%;}
.form-box-cont{ width:100%;}

.form-login{ width:96%; margin-bottom:15px;}
.login-fr{ width:96%; min-height:inherit;}
.bot-line-login{ background:url("../../images/bot-line2.gif") no-repeat scroll center center rgba(0, 0, 0, 0);}
.form-input-login{ width:99%;}
.form-login label{ margin-bottom:5px;}
.singlerow-login-log{ margin:7px 0; float:right;}

.reg-input1 label em{ width:100%; margin-bottom:7px;}
.form-input-re{ width:99%;}
.registration-or{ background:url("../../images/bot-line2.gif") no-repeat scroll center center rgba(0, 0, 0, 0);}
.singlerow-reg{ width:auto;}

.search-car{ width:99%;}
.search-car-top-part{ padding:10px 0 5px 10px; width:99%; height:auto; background:#0094c8;}
.search-car-find-cla{ margin-bottom:10px;}
.search-car-top-part p a{ margin-left:0px;}

.sharing-result{ width:99%;}
.sharing-result-left{ width:100%;}
.sharing-result-right{ width:100%; float:left;}

.sharing-result-box-left{ padding:0px; margin:0 0 10px; width:100%;}
.sharing-result-box-right{padding:0px; border:none; width:100%;}

.left-deta{ width:100%;}
.trip-details{ width:95%;}
.details-trip-photo{ width:12%;}
.details-trip-right{ width:85%;}
.right-deta{ width:100%; margin-top:15px;}
.trip-detail-data li strong{ width:100%;}
.trip-detail-data{ padding:0 0 0 5px; width:98%;}
.trip-price-container{ padding:5px; width:97%;}
.user-vehicle ul{ width:100%; margin:0 0 15px;}
.my-car{ width:96%;}
.social-sharing{ width:95%;}

.dashbord-left-part{ width:100%;}
.dashbord-right-part{ margin:0 0 20px 5px; width:99%;  float:left;}

.top-right-part2{ width:100%; text-align:center;}
.user-part-main{ margin:10px 0; width:100%;}
.user-part{ margin:0 auto; padding:5px;  border:1px solid #423938; border-radius:3px; width:171px; float:none;}

.messages-dashbord{ margin:0px;}
.messages-dashbord label span{ width:100%; margin:0 0 10px;}
.messages-dashbord .stap2{ margin:0 0 10px;}
.link-dashbord{ margin:10px 0 0;}
.dashbord-right-part p{ width:99%;}

.email-verification{ width:95%;}

.profile{ width:95%;}
.profile span em{width:100%; margin-bottom:5px;}
.profile-input{width:96%;}
.profile span p{width:100%;}
.profile-select{width:98.5%;}
.profile-textarea{ width:96%;}
.profile .sav-but-pro{ width:100%;}

.trip-alert-form-container{ height:auto; padding-bottom:15px; background:url("../../images/trip-alert-bg.jpg") repeat-x scroll center bottom rgba(0, 0, 0, 0);}
.trip-alert-form-container span{ width:98%; margin:6px 0 0 10px;}
.trip-input{ width:96%; margin-bottom:10px;}
.trip-alert-form-container span a{ float:left;}

.profile-photo-right{ margin:15px 0 0 5px; width:100%;}
.profile-photo{ width:97%; padding:8px;}
.profile-photo-right{ margin:15px 0 0; width:100%;}
.choose-photo a{ float:left; margin-top:5px; border-radius:4px;}
.chose-input{ width:100%; border-radius:4px;}
.pnl-info{ width:100%;}
.pnl-info p{ padding:10px; width:93%;}

.choose-photo{ width:99%;}
.notifications{ width:95%;}
.add-car{ padding:8px 8px 0; width:96%;}
.add-car span em{ margin:0 0 5px; width:100%;}
.add-car-select{ width:100%;}
.add-car span a{ margin:0px;}

.rating-received{ width:97%; padding:6px;}
.rating-received-right-part{ margin:15px 0 0; width:98%; float:left;}

.ratings-from{ width:97%; padding:7px;}
.list-choose-profil-left{ width:100%;}
.list-choose-profil-right{ width:100%; margin-top:15px;}
.list-choose-bottom-left{ width:100%;}
.list-choose-bottom-right{ width:100%; margin-top:15px;}

.ratings-inner{ margin-left:5px;}

.ratings-from{ padding:8px; width:94%;}
.ratings-box{ padding:10px; width:95%;}
.ratings-input{ width:100%;}
.ratings-input1{ width:97%;}
.ratings-box span{ width:100%; margin-bottom:15px;}
.ratings-box a{ margin:0px;}
.hint-rating-review{ padding:10px; width:95%;}

.rides-offered p{ padding:4px;}
.email-alerts{ padding:8px; width:96%;}
.email-alerts-block-right{ float:left;}
.email-alerts-block-right a{ margin:0 17px 0 0;}

.messages-details label p{ width:99%; font-size:12px;}
.messages-container label span{ width:50%;}
.messages-container .stap2{ width:50%;}
.messages-container .stap3{ width:100%;}

.main-block label p{ width:100%; margin-bottom:7px;}
.main-block span{ float:left; width:100%;}
.main-block{ padding:4px; width:97%;}
.main-block span img{ padding:0 5px;}
.main-block span em{ font-size:16px;}
.main-block span em strong{ font-size:24px;}
.links-main-block-left{ width:100%; margin:0 0 7px;}
.links-main-block-right{ width:100%; float:left;}
.links-main-block-left a img{ padding:0 5px 0 0;}
.links-main-block-left a{ margin:0 3px 0 0;}
.links-main-block-right a{ margin:0 3px 0 0;}

.offer-seats-left{ width:99.6%;}
.type-of-trip span em{ width:40%;}
.type-of-trip2 span em{ width:97%; margin:0 0 15px 8px;}
.location-input{ width:94%;}
.offer-seats-right{ margin:15px 0 0; float:left;}
.offer-seats-right img{ width:100%;}

.offer-a-ride .spa-off{ width:100%; padding-bottom:7px;}
.offer-a-ride .ord1{ width:90%;}
.offer-a-ride .ord2{ float:left; margin-left:17px;}
.plus-minus-container{ margin:0 0 5px 15px; float:left; }

.memrating1 span em{ margin-bottom:5px;}
.ratings-input-mem{margin-bottom:5px;}
.memrating1 span a{margin-bottom:5px;}

.user-profile-de{ width:100%;}
.main-infos-list{ width:100%;}

}

@media screen and (min-width:1px) and (max-width:400px) {
.body-mid-part-center{ width:75%;}
.trip{ width:100%; text-align:center;}
.trip img{ float:none;}
.trip-deails{ text-align:left; width:auto; margin:7px 5px 0 0; text-align:center;}
.trip-deails-left{ width:97%; text-align:center;}
.trip-deails-right{width:100%; padding:10px 0 0; text-align:center;}
.trip-main{ width:75%; float:none;}

.video1 img{ width:100%;}
.video1{ width:94%; margin-left:10px; margin-top:15px;}
.video1 h2{ margin-bottom:10px;}
.trust-safety{ width:94%; margin-left:10px; margin-top:15px;}
.trust-safety h2{ margin-bottom:10px;}
.facebook-cov{ width:94%; margin-left:10px; margin-top:15px;}
.footer-inner-right img{ width:100%;}
.copyrighttext p{ float:left;}

.form-login{ width:93%;}
.login-fr{ width:93%; float:left;}
.fordot .singlerow-forgot{ margin-top:10px;}
.fordot span{ width:100%;}
.form-input-login-for{ width:79%;}

.search-car-top-part{ width:97%;}
.search-car-find-cla{ margin-right:0px; width:90%;}
.trip-deails .trip-deails-left{ padding:0 0 5px;}
.details-trip-photo{ width:100%; margin-bottom:10px;}
.details-trip-right{ width:100%;}
.beck-prv span{ width:100%; text-align:center; margin-bottom:5px;}
.beck-prv p{ width:100%; text-align:center; margin-bottom:5px;}
.user-vehicle li strong{ width:100%;}
.user-vehicle li{ margin-bottom:15px;}
.email-verification{ width:95%; padding:6px;}
.car-share-preferences{ width:92%;}
.my-car{ padding:6px; width:95%;}
.my-car-photo{ margin:0 7px 0 0;}
.social-sharing{ width:94%; padding:8px;}

.profile{ width:92%;}
.profile-select1{ width:100%; margin:0 0 10px;}
.profile-input1{ float:left;}

.trip-search-sorts span{ width:96%;}
.trip-search-sort-right{ float:left; margin:10px 0 0 10px;}
.trip-input{ width:94%;}
.profile-photo{ width:94%;}
.notifications{ width:96%; padding:5px;}
.add-car{ width:94%;}
.add-car-select1{ width:100%;}

.trip-details{ width:94%; padding:8px;}
.trip-price-container{ width:96%;}
.rating-received{ width:95%; padding:6px;}

.ratings-from{ padding:8px; width:94%;}
.ratings-box{ padding:10px; width:92%;}
.ratings-input{ width:100%;}
.ratings-input1{ width:96%;}
.ratings-box span{ width:100%; margin-bottom:15px;}
.hint-rating-review{ padding:10px; width:93%;}
.email-alerts{ width:94%;}
.email-alerts-block-right a{ margin:0 10px 7px 0; float:left;}
.offer-seats-left{ width:99%;}
.location-input{ width:89%;}
.location-input1{ width:89%;}
.offer-seats-right{ width:97%;}
.offer-a-ride3 .offer-ride1{ margin:0 5px 10px;}
.offer-a-ride3 span p em{ margin:0 0 5px;}
.offer-a-ride3 span p{ margin:0 5px;}
.offer-a-ride h2{ padding:12px 0 4px 6px;}
.offer-a-ride3 h2{ padding:12px 0 4px 6px;}
.offer-a-ride span em{ margin:0 0 0 5px}
.offer-a-ride2 span em{ margin:0 0 0 5px}
.tabing a{ width:149px;}




}

@media screen and (min-width:768px) and (max-width:1020px) {

.theme-default .nivo-controlNav{ right:0!important;}

#top-part{ position:relative; background:#000; padding:0 0 10px; height:auto; text-align:center;}
.top-part-inner{ width:100%;}
/*.logo{ width:100%; padding:9px 0 0;}*/
.express{ float:left; width:100%; margin:20px 0 0;}
.top-right-part{ margin:0 5px 0 0; /*width:100%; text-align:center;*/}
.top-right-part2{ margin:0 5px 0 0;}

.navgaction{ position:relative; top:0;}
.menu-top{margin:0!important;}

#header{ width:100%;}
#header img{ width:100%;}
.sldier-inner{ display:none;}

.body-top-search-part-inner{ width:98%;}
.body-top-search-part{ background:none repeat scroll 0 0 #0094C8; float:left; height:auto; padding-bottom:10px; width:100%;}
.find-cla{ margin-bottom:10px;}
.body-mid-part{ float:left; width:98%; margin-left:15px;}
.body-mid-part-inner .last{ margin-top:15px; float:left;}
.body-mid-part-inner .trip-main-last{ float:none;}

.body-bottom-part-t-part { background: url("../../images/body-bottton-img-bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0); float: left; height: auto; margin:20px 0 0; padding:0 0 15px; width: 100%;}
.body-bottom-part-t-part-inner { float: none;margin: 0 auto; padding: 0; width:100%; }
.facebook-cov{ margin:30px 0 0 20px; padding:0px; float:left;}

.latest-infor{ margin:0px; float:left; width:100%;}
.latest-rides{ margin-left:15px; margin-bottom:15px;}
.last-chance{ margin-left:15px; margin-bottom:15px;}
.latest-blogs{margin-left:15px; float:left;}
.latest-blogs h2{ margin-bottom:7px;}

.featured-in{ width:98%; margin-left:10px;}
.featured-in-inner{ width:100%;}

#footer{ height:auto; background:url("../../images/footer-bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);}
.footer-inner { float: left; margin: 15px 0 0 10px; padding: 0; width: 98%; }
.footer-inner-left{ width:100%;}
.footer-inner-right{ float:left; margin-top:20px;}

/*................inner-page......................*/
.body-inner-part{ width:99%;}
.right-inner-part{ width:530px; float:right; margin:0 5px 20px 0;}
.contact-right{ width:96%; float:left;}
.form{ width:94%;}
.form-box{ width:100%;}
.form-box1{ width:100%;}
.form-box-cont{ width:100%;}

.form-login{ width:96%; margin-bottom:10px;}
.login-fr{ width:96%; float:left;}
.bot-line-login{ background:url("../../images/bot-line2.gif") no-repeat scroll center center rgba(0, 0, 0, 0);}
.singlerow-login-log{ margin:7px 0; float:right;}
.form-input-login{ width:390px;}

.reg-input1 label span{ margin:0px; padding:0px; float:right; width:71%;}

.search-car{ width:99%;}
.search-car-top-part{ padding:10px 0 5px 10px; width:99%; height:auto; background:#0094c8;}
.search-car-find-cla{ margin-bottom:10px;}
.search-car-top-part p a{ margin-left:0px;}

.search-car-top-part{ width:99%;}
/*.search-car-find-cla{ margin-right:0px; width:90%;}
.trip-deails .trip-deails-left{ padding:0 0 5px;}
*/
.sharing-result{ width:100%;}
.sharing-result-right{ width:515px;}
.sharing-result-box-left{ width:98%; margin:0 0 15px;}
.sharing-result-box-right{ width:98%; padding:0px; border:none; margin:0 0 0 10px; float:left;}

.event-details{ width:100%;}
.right-deta{ width:100%; margin-top:15px;}
.donate{ float:left;}
.trip-price-container{ width:96.7%;} 
.ratings{ width:531px;}
.car-share-preferences{ width:96%;}
.my-car{ width:96%;}
.social-sharing{ width:96%;} 
.dashbord-right-part{ width:496px;}
.link-dashbord{ margin:10px 0 0;}
.messages-dashbord label span{ width:50%; margin:0 0 15px;}
.messages-dashbord .stap2{ margin:0 0 15px;}
.messages-dashbord .stap3{ float:left;}

.email-verification{ width:96%;}

.profile{ width:96%;}
.profile-input1{ width:138px;}
.profile span p{ width:61%;}
.profile .sav-but-pro{ width:61%;}

.trip-alert-form-container{ height:auto; padding-bottom:15px; background:url("../../images/trip-alert-bg.jpg") repeat-x scroll center bottom rgba(0, 0, 0, 0);}
.trip-alert-form-container span{ width:83%;}
.trip-alert-form-container span em{ font-size:11px;}
.trip-alert-form-container span a{ padding:5px 8px; font-size:13px;}
.trip-input{ width:129px;}

.profile-photo-right{ width:394px; margin:15px 0 0; float:right;}
.profile-photo{ width:96%;}
.chose-input{ float:left;} 
.choose-photo a{ float:left;}
.pnl-info{ width:100%;}
.pnl-info p{ width:auto; padding:10px;}
.notifications{ padding:8px;}
.add-car{ padding:8px 8px 0;}
.left-deta{ width:100%;}

.rating-received{ padding:8px;}
.ratings-from{ padding:8px;}
.list-choose-profil-left{ width:100%;}
.list-choose-profil-right{ width:100%; margin-top:15px;}

.ratings{ width:531px;}
.ratings-box{ width:94%;}
.ratings-box span{ width:100%; margin-bottom:15px;}
.ratings-input{ width:100%;}
.ratings-input1{ width:97.8%;}
.ratings-box a{ margin:0px;}
.email-alerts{ padding:12px;}

.messages-details label p{ width:655px; font-size:12px;}
.main-block{ padding:13px;}
.offer-seats-left{ width:100%;}
.offer-seats-right{ float:left; margin-top:10px;}
.ratings-input-mem{ width:172px;}

.user-profile-de{ width:100%;}
.main-infos-list{ width:100%;}

}

@media screen and (min-width:1px) and (max-width:400px) {
.contact-left p img{ width:98%;}
.contact-right{ width:97%; float:left; margin:0; height:auto; padding:5px;}
.form{ width:94%; padding:10px 10px 20px;}

}
	
@media handheld, only screen and (min-width:320px) {
}

@media screen and (min-width:900px) and (max-width:1024px) {
.sldier-inner img{ width:100%;}
#header{ width:100%;}
#header img{ width:100%;}
}