@media print {
* {
	text-shadow: none!important;
	color: #000!important;
	background: transparent!important;
	box-shadow: none!important
}
a, a:visited {
	text-decoration: underline
}
a[href]:after {
	content: " (" attr(href) ")"
}
abbr[title]:after {
	content: " (" attr(title) ")"
}
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
	content: ""
}
pre, blockquote {
	border: 1px solid #999;
	page-break-inside: avoid
}
thead {
	display: table-header-group
}
tr, img {
	page-break-inside: avoid
}
img {
	max-width: 100%!important
}
@page {
margin:.5cm
}
p, h2, h3 {
	orphans: 3;
	widows: 3
}
h2, h3 {
	page-break-after: avoid
}
}
@media screen and (min-width:1px) and (max-width:767px) {
.main-top-part-inner{ width:98%;}
#main-div-top-second-bg-new-in{ width:100%;}
.in-top-part{ width:100%;}
.top-part{ height:auto;}
.logo{ margin:16px 0; text-align:center; width:100%;}
.top-right-part{ width:100%;}
.ho-right-top{ width:100%; text-align:center; margin:0 0 10px;}
.res{ margin:0px; padding:0px; float:left; width:100%; text-align:center;}
.ho-right-top2 span img{ float:none;}
.ride-f{ float:left; width:100%;}
.ride-f ul{ float:none; width:272px; margin:0 auto;}
.ho-right-top span{float: none; margin: 0 auto; padding: 0; position: relative; top:7px; width:231px;}
.ho-right-top span img{ margin:0 4px 0 0; float:none; padding:0px;}
.lag{ float:none;color:#fff; width:56px; margin:2px 0 0;}
.in-ride{ float:left; width:100%; text-align:center;}


.body-top-search-part-inner{ width:98%;}
.body-top-search-part{ background:none repeat scroll 0 0 #0094C8; float:left; height:auto; padding-bottom:10px; width:100%;}
.find-cla{ margin-bottom:10px;}

.trip-main{ margin:0 auto 10px; padding:0px; width:406px; float:none;}
.body-mid-part-inner .last{ float:left;}
.rides-around{ float:none; height:116px; margin:0 auto 10px;}
.rides-around2{ float:none; height:116px; margin:0 auto 10px;}
.rides-around3{ float:none; height:116px; margin:0 auto 10px;}
.rides-around4{ float:none; height:116px; margin:0 auto 10px;}
.rides-around5{ float:none; height:116px; margin:0 auto 10px;}
.body-mid-part-inner .trip-main-last{ float:none;}

.body-mid-part{ float:left; width:100%;}
.body-mid-part-right{ float:left;}

.latest-infor{ width:100%;}
.latest-rides{ margin-bottom:15px; margin-left:5px; width:98%; padding:0 0 5px;}
.last-chance{ margin-bottom:15px; margin-left:5px; width:97%;}
.latest-blogs{ float:left; margin-bottom:0; margin-left:5px; width:auto;}
.latest-rides em{ width:98%;}

.body-bottom-part-t-part { background: url("../../images/body-bottton-img-bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0); float: left; height: auto; margin:20px 0 0; padding:0 0 15px; width: 100%;}
.body-bottom-part-t-part-inner { float: none;margin: 0 auto; padding: 0; width:100%; }
.facebook-cov{ margin:30px 0 0 20px; padding:0px; float:left;}

.chance-deails{ width:99%; margin:3px 0 0 5px;}

.video1{ width:350px; margin-left:10px; margin-top:15px;}
.video1 h2{ margin-bottom:10px;}
.trust-safety{ width:289px; margin-left:10px; margin-top:15px;}
.trust-safety h2{ margin-bottom:10px;}
.facebook-cov{ width:94%; margin-left:10px; margin-top:15px;}

.featured-in{ width:97%; margin-left:10px; margin-top:15px;}
.featured-in-inner{ width:100%;}

.lag1{ float:none; width:106px; margin:2px 0 0;}
.lag span { color: #999999; float: left; margin: 0 0 10px; padding: 0; width: 100%; }	

.ho-right-top2 { margin: 0 0 10px; text-align: center; width:100%; }
.ho-right-top2 span { float: none; margin: 0 auto; padding: 0; position: relative; top: 7px; width: 231px; }
.top-div-iocn{ float: none; margin: 0 auto; padding: 0; position: relative; top:7px; width:227px;}
.ride-f-in{ position:relative; left:0; width:100%; float:left; margin:0px;}
.ride-f-in ul{ float:none; width:272px; margin:0 auto;}
.user-part-main{ margin:0 0 12px;}


#footer{ width:100%;}
.footer-inner{ height:auto; padding:0 0 10px;}
.footer-inner-cont{ width:96%;}
.fo-meniu{ width:100%; margin:25px 0 0;}
.fo-meniu2{ width:100%; margin-bottom:10px;}
.footer-map{ float:left;}
.footer-bot-part p{ text-align:center; width:100%;}
.footer-bot-part span{ width:100%; float:left; text-align:center; margin:10px 0 0;}
.footer-bot-part span em img{ float:none;}

/*................inner-page......................*/

.bradcram span{ width:98%;}
.body-inner-part{ width:98%; overflow:hidden;}
.left-about-part{ width:100%; margin:20px 0 0;}
.right-inner-part{ margin:0 0 20px; width:100%; float:left;}

.contact-inner {margin: 0 auto; padding: 0; width: 98%; }

.contact-left{ width:100%;}
.contact-left p{ width:100%; float:left;}
.contact-left p img{ float:left;}
.contact-right{ width:99%; float:left; margin:15px 0 0; height:auto; padding:5px;}
.form{ width:96%; padding:10px 10px 20px;} 
.form-box{ width:100%;}
.form-box1{ width:100%;}
.form-box-cont{ width:100%;}

.form-login{ width:96%; margin-bottom:15px;}
.login-fr{ width:96%; min-height:inherit;}
.bot-line-login{ background:url("../../images/bot-line2.gif") no-repeat scroll center center rgba(0, 0, 0, 0);}
.form-input-login{ width:95%;}
.form-login label{ margin-bottom:5px;}

.reg-input1 label em{ width:100%; margin-bottom:7px;}
.form-input-re{ width:99%; padding:0px;}
.reg-input1 .form-re-selec{ width:100%;}
.form-input-select{ width:99%;}
.registration-or{ background:url("../../images/bot-line2.gif") no-repeat scroll center center rgba(0, 0, 0, 0);}
.singlerow-reg{ width:auto;}

.registration {float: none; margin: 0 auto; padding: 0; width: 98%;}
.reg-last1{ display:none;}
.create-paypal{ float:left;}

.search-car{ width:99%;}
.search-car-find-cla{ margin-bottom:10px;}
.search-car-top-part p a{ margin-left:0px;}

.sharing-result{ width:99%;}
.sharing-result-left{ width:100%;}
.sharing-result-right{ width:100%; float:left;}

.left-deta{ width:100%;}
.trip-details{ width:95%;}
.details-trip-photo{ width:14%;}
.details-trip-right{ width:85%;}
.right-deta{ width:100%; margin-top:15px;}
.trip-detail-data{ padding:0 0 0 5px; width:98%;}
.trip-price-container{ padding:5px; width:97%;}
.user-vehicle ul{ width:100%; margin:0 0 15px;}
.my-car{ width:96%;}
.social-sharing{ width:95%;}

.dashbord-left-part{ width:100%;}
.dashbord-right-part{ margin:0 0 20px 5px; width:99%;  float:left;}

.top-right-part2{ width:100%; text-align:center;}
.user-part-main{ margin:0 0 12px;}

.messages-dashbord{ margin:0px;}
.messages-dashbord label span{ width:100%; margin:0 0 10px;}
.messages-dashbord .stap2{ margin:0 0 10px;}
.link-dashbord{ margin:0 0 10px;}
.dashbord-right-part p{ width:auto;}

.email-verification{ width:95%;}

.profile{ width:95%;}
.profile span em{width:100%; margin-bottom:5px;}
.profile-input{width:96%; padding-right:0px;}
.profile span p{width:100%;}
.profile-select{width:98.5%;}
.profile-textarea{ width:96%; padding-right:0px;}
.profile .sav-but-pro{ width:100%;}

.trip-alert-form-container{ height:auto; padding-bottom:15px; background:url("../../images/trip-alert-bg.jpg") repeat-x scroll center bottom rgba(0, 0, 0, 0);}
.trip-alert-form-container span{ width:98%; margin:6px 0 0 10px;}
.trip-input{ width:96%; margin-bottom:10px;}
.trip-alert-form-container span a{ float:left;}

.profile-photo-right{ margin:15px 0 0 5px; width:100%;}
.profile-photo{ width:97%; padding:8px;}
.profile-photo-right{ margin:15px 0 0; width:100%;}
.choose-photo a{ float:left; margin-top:5px; border-radius:4px;}
.chose-input{ width:100%; border-radius:4px;}
.pnl-info{ width:100%;}
.pnl-info p{ padding:10px; width:93%;}

.choose-photo{ width:99%;}
.notifications{ width:95%;}
.add-car{ padding:8px 8px 0; width:96%;}
.add-car span em{ margin:0 0 5px; width:100%;}
.add-car-select{ width:100%;}
.add-car-select3{ width:100%; padding:5px 0;}
.last1em{ display:none;}
.add-car span a{ margin:0px;}

.rating-received{ width:97%; padding:6px;}
.rating-received-right-part{ margin:15px 0 0; width:98%; float:left;}

.ratings-from{ width:97%; padding:7px;}
.list-choose-profil-left{ width:100%;}
.list-choose-profil-right{ width:100%; margin-top:15px;}
.list-choose-bottom-left{ width:100%;}
.list-choose-bottom-right{ width:100%; margin-top:15px;}

.ratings-inner{ margin-left:5px;}

.ratings-from{ padding:8px; width:94%;}
.ratings-box{ padding:10px; width:95%;}
.ratings-input{ width:100%;}
.ratings-input1{ width:97%;}
.ratings-box span{ width:100%; margin-bottom:15px;}
.ratings-box a{ margin:0px;}
.hint-rating-review{ padding:10px; width:95%;}

.rides-offered p{ padding:4px;}
.email-alerts{ padding:8px; width:96%;}
.email-alerts-block-right{ float:left;}
.email-alerts-block-right a{ margin:0 17px 0 0;}

.messages-details label p{ width:99%; font-size:12px;}
.messages-container label span{ width:50%;}
.messages-container .stap2{ width:50%;}
.messages-container .stap3{ width:100%;}

.main-block label p{ width:100%; margin-bottom:7px;}
.main-block span{ float:left; width:100%;}
.main-block{ padding:4px; width:97%;}
.main-block span img{ padding:0 5px;}
.main-block span em{ font-size:16px;}
.main-block span em strong{ font-size:24px;}
.links-main-block-left{ width:100%; margin:0 0 7px;}
.links-main-block-left a img{ padding:0 5px 0 0;}
.links-main-block-left a{ margin:0 3px 0 0;}
.links-main-block-right a{ margin:0 3px 0 0;}

.offer-seats-left{ width:99.6%;}
.type-of-trip span em{ width:40%;}
.type-of-trip2 span em{ width:97%; margin:0 0 15px 8px;}
.location-input{ width:94%;}
.offer-seats-right{ margin:15px 0 0; float:left;}
.offer-seats-right img{ width:100%;}

.offer-a-ride .spa-off{ width:100%; padding-bottom:7px;}
.offer-a-ride .ord1{ width:90%;}
.offer-a-ride .ord2{ float:left; margin-left:17px;}
.plus-minus-container{ margin:0 0 5px 15px; float:left; }

.memrating1 span em{ margin-bottom:5px;}
.ratings-input-mem{margin-bottom:5px;}
.memrating1 span a{margin-bottom:5px;}

.user-profile-de{ width:100%;}
.main-infos-list{ width:100%; float:left; margin:10px 0 0;}
.subscribe{ margin:13px 0 0; width:100%;}

.tabs-main ul li{ margin:5px 0 0;}
.tabs-main ul li a{ font-size:14px; padding:6px 10px;}
.ratings{ width:100%;}
.mpv1 span strong{ width:100%;}
.mpv span p{ padding:7px 0 10px;}
.mpv span a{ float:left;}
.user-profile-page{ width:98%;}
.user-comment-list li{ width:96%;}
.clint-category li{ overflow:hidden;}
.booking1 .sav-but-pro1{ width:100%;}
.sharing-result-box-right span img{ width:auto !important;}

.main-block { overflow-x: scroll; padding: 7px; width: 98%;}

.faq ul{ float:none; margin:0 auto; width:98%;}

.search-car-top-part span{ width:90%; margin:0 0 8px 10px;}
.search-car-top-part p{ float:none; width:auto; padding:0 0 0 10px;}
.search-car-find-cla{ width:43%;}
.mpv{ width:96%;}
.message-top-file1{ width:99%;}

.type-of-trip2{ width:99%;}
.trip-search-facets{width:99%;}
.trip-photo{width:99%;}
.trip-comfort{width:99%;}

.ratings-inner{ margin:0px; width:99%;}
.form-box{ width:98%;}
.contact-right .form span{ margin:0 0 10px; padding:0px;}

.blanck-co{ display:none;}
.blanck-c{ display:none;}

.ridelist-ho{overflow-x: scroll; padding:0px; width:100%;}
.sharing-result-box-main{overflow-x: scroll; padding:0px; width:100%;}
.sharing-result-box{ width:920px;}

.booking1 span em{ margin:0 0 8px; width:100%;}
.search-car-find-cla{ margin-bottom:10px!important;}
.search-car-top-part p{ float:none;}

.email-alerts1 {overflow-x: scroll; padding: 0 0 15px;  width: 100%;}
.email-alerts1 table {float:left; width:800px!important;}

}

@media screen and (min-width:1px) and (max-width:767px) {
#main-top-part{ height:auto;}
.main-top-part-inner span{ margin:0 0 8px!important; text-align:center; float:left; width:100%;}
.main-top-part-inner span b{ margin:5px 0 7px; float:left; width:100%;}
.main-top-part-inner span img{ float:none; display:inline-table;}
.main-top-part-inner span strong{ margin:0px; float:left; width:100%;}
.log-out-div{ margin:0px; float:left; width:100%; text-align:center;}
.user-part{ float:none; display:inline-table;}
.top-icons{ float:none; display:inline-table;}
.user-part-main{ float:none; display:inline-table;}
}

@media screen and (min-width:401px) and (max-width:420px) {
.user-profile-de{ width:79%;}
.profile{ width:94%;}
.my-car{ width:94%;}
.add-car{ width:95%;}
}

@media screen and (min-width:1px) and (max-width:350px) {
.my-car-photo{ width:133px;}
.ratings-from{ padding:7px!important;}
.social-sharing{padding:7px!important;}
.trip-details{ width:93%!important;}
.contact-right .form{ width:90%!important;}
}

@media screen and (min-width:1px) and (max-width:320px) {
.footer-map img{ width:100%;}
.tabs-main ul li a{ padding:6px 7px;}
.add-car{ width:93%!important;}
.notifications{ width:95%;}
.ratings-from{ padding:7px;}
.trip-details{ width:93%;}
}

@media screen and (min-width:1px) and (max-width:450px) {
.details-trip-photo{ width:19%;}
.details-trip-right{ width:80%;}
.trip-detail-data li strong{ width:100%;}
.search-car-find-cla{ width:41%;}
.form-login{ width:94%;}
}

@media screen and (min-width:1px) and (max-width:400px) {
.body-mid-part-center{ width:75%;}
.trip{ width:100%; text-align:center;}
.trip img{ float:none;}
.trip-deails{ text-align:left; width:auto; margin:7px 7px 0;}
.trip-deails-left{ width:97%; text-align:center;}
.trip-deails-right{width:100%; padding:10px 0 0; text-align:center;}
.trip-main{ width:98%; float:none;}

.video1 img{ width:100%;}
.video1{ width:94%; margin-left:10px; margin-top:15px;}
.video1 h2{ margin-bottom:10px;}
.trust-safety{ width:94%; margin-left:10px; margin-top:15px;}
.trust-safety h2{ margin-bottom:10px;}
.facebook-cov{ width:94%; margin-left:10px; margin-top:15px;}

.form-login{ width:92%;}
.login-fr{ width:92%; float:left;}
.fordot .singlerow-forgot{ margin-top:10px;}
.fordot span{ width:100%;}
.form-input-login-for{ width:79%;}

.search-car-top-part{ width:100%;}
.search-car-find-cla{ margin-right:0px; width:90%;}
.trip-deails .trip-deails-left{ padding:0 0 5px; text-align:left;}
.details-trip-photo{ width:100%; margin-bottom:10px;}
.details-trip-right{ width:100%;}
.beck-prv span{ width:100%; text-align:center; margin-bottom:5px;}
.beck-prv p{ width:100%; text-align:center; margin-bottom:5px;}
.user-vehicle li strong{ width:100%;}
.user-vehicle li{ margin-bottom:15px;}
.email-verification{ width:95%; padding:6px;}
.car-share-preferences{ width:92%;}
.my-car{ padding:6px; width:95%;}
.my-car-photo{ margin:0 7px 0 0;}
.social-sharing{ width:94%; padding:8px;}

.profile{ width:94%; padding:7px;}
.profile-select1{ width:100%; margin:0 0 10px;}
.profile-input1{ float:left;}

.trip-search-sorts span{ width:96%;}
.trip-search-sort-right{ float:left; margin:10px 0 0 10px;}
.trip-input{ width:94%;}
.profile-photo{ width:93%!important;}
.notifications{ width:96%; padding:5px;}
.add-car{ width:94%;}
.add-car-select1{ width:100%;}

.trip-details{ width:94%; padding:8px;}
.trip-price-container{ width:96%;}
.rating-received{ width:96%; padding:6px;}

.ratings-from{ padding:8px; width:94%;}
.ratings-box{ padding:10px; width:92%;}
.ratings-input{ width:100%;}
.ratings-input1{ width:96%;}
.ratings-box span{ width:100%; margin-bottom:15px;}
.hint-rating-review{ padding:10px; width:93%;}
.email-alerts{ width:94%;}
.email-alerts-block-right a{ margin:0 10px 7px 0; float:left;}
.offer-seats-left{ width:99%;}
.location-input{ width:89%;}
.location-input1{ width:89%;}
.offer-seats-right{ width:97%;}
.offer-a-ride3 .offer-ride1{ margin:0 5px 10px;}
.offer-a-ride3 span p em{ margin:0 0 5px;}
.offer-a-ride3 span p{ margin:0 5px;}
.offer-a-ride h2{ padding:12px 0 4px 6px;}
.offer-a-ride3 h2{ padding:12px 0 4px 6px;}
.offer-a-ride span em{ margin:0 0 0 5px}
.offer-a-ride2 span em{ margin:0 0 0 5px}
.tabing a{ width:50%;}

.ride-f ul{ width:268px;}
.ride-f li{ margin:0 5px;}
.ride-f-in ul{ width:268px;}
.ride-f-in li{ margin:0 5px;}

.contact-left p img{ width:98%;}
.contact-right{ width:97%; float:left; height:auto; padding:5px;}
.form{ width:94%; padding:10px 10px 20px;}

.fb-page{ width:100%; height:auto;}
.fb-page img{ width:100%;}
.newsletter-ho{ width:190px;}
.newsletter-but{ width:86px;}
.location-input3{ padding:7px 6px 8px 12px;}
.mpv{ width:93%;}
.my-car-photo img{ width:92%;}
}

@media screen and (min-width:1px) and (max-width:384px) {
.fordot span em{ margin:0 0 5px; width:100%;}
.form-input-login-for{ padding:0 0 0 7px; width:96%;}
.mpv{width:93%!important; padding:5px 9px 0;}
}

@media screen and (min-width:1px) and (max-width:600px) {
.tabs-main ul li {width: 100%;}
.tabs-main ul li {margin: 5px 0 0; }
.tabs-main ul li a {border-bottom: medium none !important; height: auto; line-height: normal; padding: 6px; }
.tabs-main ul li a {font-size: 14px;}
.tabs-main ul li:hover {background: #0eb7b0 none repeat scroll 0 0; width: 100%; }
.tabs-main ul li:hover a {border-bottom: medium none; color: #ffffff; }
.tabs-main ul li a:hover{background: #e83100 none repeat scroll 0 0 !important; width:100%;   border-bottom: medium none;    color: #ffffff !important;}

.tabs-main ul li .active{   background: #e83100 none repeat scroll 0 0 !important; width:100%;   border-bottom: medium none;    color: #ffffff !important;}
.tabs-main{border:none !important;}

.car-share-preferences{padding:9px; width:95%; padding-right:0px;}

}

@media screen and (min-width:1px) and (max-width:414px) {
.tabing a{ width:50%;}
.search-car-find-cla{ width:90%;}
.mpv{ width:94%;}
.notifications{ width:94%;}
.trip-details{ width:94%;}
.profile-photo{ width:95%;}
.contact-right .form{ width:92%;}
.main-infos-list li h1{ font-size:22px;}
}



@media screen and (min-width:1px) and (max-width:1169px) {
.main-block-new{overflow-x: scroll; padding:0px; width:100%;}
.main-block-1{ width:1023px; padding:10px;}
.main-block{overflow-x: scroll; padding:0px; width:100%;}
.main-block-inner{ width:1023px; padding:10px;}
}

@media screen and (min-width:1px) and (max-width:580px) {
.contact-right .form{ width:94%;}
.dashboard-new-page-bottom-part-list {float:none; margin:0 auto;  padding:0; width:300px;}
.dashboard-new-page-main-left-part{ width:292px; margin:0 auto; float:none !important;}
.dashboard-client{ width:100%;}
.dashboard-new-page-main-right-part{ width:100%; margin:15px 0 0;}

.dashboard-client{ width:100%; margin:0px; padding:0px;}
.dashboard-client-img{ width:173px; margin:0 auto; float:none;}
.dashboard-client h3{ margin:10px 0 0;}
.dashboard-notifications{ margin:20px 0 0 18px; padding:0; width:95%; float:left; border:none;}
.dashboard-notifications ul{ margin:0; width:96%;}
.dashboard-notifications li span{ margin:0 0 10px; width:95%;}
.dashboard-notifications li a{ float:left; padding:7px 10px;}

.dashboard-new-page-bottom-part-right{ float:left; width:100%; margin:12px 0 0;}
.dashboard-new-page-bottom-part-right ul{ margin:0 auto; float:none; width:290px;}
.dashboard-new-page-bottom-part-right li{ margin:0 0 15px; width:100%;}
.dashboard-new-page-bottom-part-right li:nth-child(3n){ margin:0 0 15px; width:100%;}
.dashboard-new-page-bottom-part-right li:nth-child(even){ margin:0 0 15px;}
.main-inner-page .dashboard-bottom-box1 h2{ font-size:25px;}
.main-inner-page .dashboard-bottom-box2 h2{ font-size:25px;}
.main-inner-page .dashboard-bottom-box3 h2{ font-size:25px;}
.main-inner-page .dashboard-bottom-box4 h2{ font-size:25px;}
.main-inner-page .dashboard-bottom-box5 h2{ font-size:25px;}
.main-inner-page .dashboard-bottom-box6 h2{ font-size:25px;}
}

@media screen and (min-width:568px) and (max-width:767px) {
#footer{ width:100%;}
.footer-inner-cont{ width:94%;}
.fo-meniu{ width:305px;}
.fo-meniu2{ width:210px;}
.footer-map{ float:left;}
.search-car-find-cla{ width:44%;}
.form-login{ width:96%;}
.login-fr{ float:left; width:96%;}
.profile{ width:96%;}
.mpv1 span strong{ width:80%; float:left;}
.notifications{ width:96%;}
.ratings-from{ width:96%;}
.profile-photo{ width:96.5%;}
.profile-photo-right{width:70%;}
.member-picture{ width:140px;}
.main-infos-list{ width:71%; float:left; margin-left:10px;}
.user-profile-page{ width:99%;}
.rating-received{ width:98%;}
.user-comment-list li{ width:98%;}
.user-profile-de{ width:83%; float:left; margin-left:10px;}
.form-input-login{ width:97%;}
.car-share-preferences{ width:96%;}

.dashboard-new-page-bottom-part-list {float:none; margin:0 auto;  padding:0; width:320px;}
.dashboard-new-page-main-left-part{ width:292px; margin:0 auto; float:none;}
.dashboard-client{ width:100%;}
.dashboard-new-page-main-right-part{ width:100%; margin:15px 0 0;}

.dashboard-client{ width:100%; padding:0px; margin:0px;}
.dashboard-client-img{ margin:0 0 0 40px;}
.dashboard-notifications ul{ margin:0 0 0 2%; width:96%;}
.dashboard-notifications{ padding:12px 0 0 23%; width:58%; float:left;}
.dashboard-notifications li span{ margin:0 0 10px; width:90%;}
.dashboard-notifications li a{ float:left; padding:7px 14px;}

.dashboard-new-page-bottom-part-right{ float:left; width:100%; margin:12px 0 0;}
.dashboard-new-page-bottom-part-right li{ margin:0 0 15px; width:100%;}
.dashboard-new-page-bottom-part-right li:nth-child(3n){ margin:0 0 15px; width:100%;}
.dashboard-new-page-bottom-part-right li:nth-child(even){ margin-right:0px;}
.main-inner-page .dashboard-bottom-box1 h2{ font-size:25px;}
.main-inner-page .dashboard-bottom-box2 h2{ font-size:25px;}
.main-inner-page .dashboard-bottom-box3 h2{ font-size:25px;}
.main-inner-page .dashboard-bottom-box4 h2{ font-size:25px;}
.main-inner-page .dashboard-bottom-box5 h2{ font-size:25px;}
.main-inner-page .dashboard-bottom-box6 h2{ font-size:25px;}
}

@media screen and (min-width:667px) and (max-width:767px) {
.profile{ width:97%; padding:9px;}
.car-share-preferences{ width:96%;}
.main-block-new{ padding:10px; width:96%;}
.ratings-from{ width:97%;}
.ratings-inner{ width:100%;}

.dashboard-new-page-bottom-part-left{float:none; margin: 0 auto; width: 290px;}
.dashboard-new-page-bottom-part-right{ float:left; width:100%; margin:12px 0 0;}
.dashboard-new-page-bottom-part-right li{ margin:0 0 15px; width:100%;}
.dashboard-new-page-bottom-part-right li:nth-child(3n){ margin:0 0 15px; width:100%;}
.dashboard-new-page-bottom-part-right li:nth-child(even){ margin:0 0 15px;}
.main-inner-page .dashboard-bottom-box1 h2{ font-size:25px;}
.main-inner-page .dashboard-bottom-box2 h2{ font-size:25px;}
.main-inner-page .dashboard-bottom-box3 h2{ font-size:25px;}
.main-inner-page .dashboard-bottom-box4 h2{ font-size:25px;}
.main-inner-page .dashboard-bottom-box5 h2{ font-size:25px;}
.main-inner-page .dashboard-bottom-box6 h2{ font-size:25px;}

.dashboard-new-page-bottom-part-list {float:none; margin:0 auto;  padding:0; width:86%;}
.dashboard-new-page-main-left-part{ width:45%;}
.dashboard-client{ width:100%; margin:0 0 20px;}
.dashboard-new-your-box-mid{ width:292px;}
.dashboard-client-img{ margin:0 0 0 40px;}
.dashboard-new-page-main-right-part{ width:52%; margin:0 0 0 15px; float:left;}
}

@media screen and (min-width:768px) and (max-width:1020px) {
.main-top-part-inner{ width:98%;}
#main-div-top-second-bg-new-in{ width:100%;}

.theme-default .nivo-controlNav{ right:0!important;}
.in-top-part{ width:100%;}

.top-part{ height:auto;}
.logo{ margin:16px 0; text-align:center; width:100%;}
.top-right-part{ width:100%;}
.ho-right-top{ width:100%; text-align:center; margin:0 0 10px;}
.res{ margin:0px; padding:0px; float:left; width:100%; text-align:center;}
.ho-right-top2 span img{ float:none;}
.ride-f{ float:left; width:100%;}
.ride-f ul{ float:none; width:272px; margin:0 auto;}
.ho-right-top span{float: none; margin: 0 auto; padding: 0; position: relative; top:7px; width:231px;}
.ho-right-top span img{ margin:0 4px 0 0; float:none; padding:0px;}
.lag{ float:none;color:#fff;}
.in-ride{ float:left; width:100%; text-align:center;}

.ho-right-top2 { margin: 0 0 10px; text-align: center; width:100%; }
.ho-right-top2 span { float: none; margin: 0 auto; padding: 0; position: relative; top: 7px; width: 231px; }
.top-div-iocn{ float: none; margin: 0 auto; padding: 0; position: relative; top: 7px; width:287px; }
.ride-f-in{ position:relative; left:0; width:100%; float:left; margin:0px;}
.ride-f-in ul{ float:none; width:272px; margin:0 auto;}
.user-part-main{ margin:0 0 12px;}

.header-in-top img{ width:100%;}

.body-top-search-part-inner{ width:98%;}
.body-top-search-part{ background:none repeat scroll 0 0 #0094C8; float:left; height:auto; padding-bottom:10px; width:100%;}
.find-cla{ margin-bottom:10px;}
.body-mid-part{ float:left; width:98%; margin-left:15px;}
.body-mid-part-inner .last{ margin-top:15px; float:left;}
.body-mid-part-inner .trip-main-last{ float:none;}

.body-bottom-part-t-part { background: url("../../images/body-bottton-img-bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0); float: left; height: auto; margin:20px 0 0; padding:0 0 15px; width: 100%;}
.body-bottom-part-t-part-inner { float: none;margin: 0 auto; padding: 0; width:100%; }
.facebook-cov{ margin:30px 0 0 20px; padding:0px; float:left;}

.latest-infor{ margin:0px; float:left; width:100%;}
.latest-rides{ margin-left:15px; margin-bottom:15px;}
.last-chance{ margin-left:15px; margin-bottom:15px;}
.latest-blogs{margin-left:15px; float:left;}
.latest-blogs h2{ margin-bottom:7px;}

.featured-in{ width:98%; margin-left:10px;}
.featured-in-inner{ width:100%;}

#footer{ width:100%;}
.footer-inner-cont{ width:98%;}
.fo-meniu{ width:215px;}

/*................inner-page......................*/
.body-inner-part{ width:99%;}
.reg-input1 label em{ width:150px;}
.create-paypal{ float:right;}
.left-about-part{ width:30%;}
.right-inner-part{ width:66%; float:right; margin:0 10px 0 0;}
.singlerow-reg{ width:71%;}
.contact-right{ width:96%; float:left; margin:18px 0 0;}
.form{ width:94%;}
.form-box{ width:100%;}
.form-box1{ width:100%;}
.form-box-cont{ width:100%;}

.form-login{ width:96%; margin-bottom:10px;}
.login-fr{ width:96%; float:left; min-height:inherit;}
.bot-line-login{ background:url("../../images/bot-line2.gif") no-repeat scroll center center rgba(0, 0, 0, 0);}
.form-input-login{ width:73%; padding:1px 0;}

.reg-input1 label span{ margin:0px; padding:0px; float:right; width:71%;}

.search-car{ width:99%;}
.search-car-find-cla{ margin-bottom:10px;}
.search-car-top-part p a{ margin-left:0px;}

.search-car-top-part{ width:99%;}
.search-car-top-part span{ width:90%; margin-left:5px; margin-bottom:10px;}
.search-car-top-part p{ margin:0 0 0 5px;}
/*.search-car-find-cla{ margin-right:0px; width:90%;}
.trip-deails .trip-deails-left{ padding:0 0 5px;}
*/
.sharing-result{ width:100%;}
.sharing-result-right{ width:67%; float:left; margin:0 0 0 15px;}

.event-details{ width:100%;}
.right-deta{ width:100%; margin-top:15px;}
.donate{ float:left;}
.trip-price-container{ width:96.7%;} 
.ratings{ width:531px;}
.car-share-preferences{ width:96%;}
.my-car{ width:96%;}
.social-sharing{ width:96%;} 
.dashbord-right-part{ width:66%; margin-left:10px; float:left;}
.link-dashbord{ margin:0 0 10px;}
.messages-dashbord label span{ width:50%; margin:0 0 15px;}
.messages-dashbord .stap2{ margin:0 0 15px;}
.messages-dashbord .stap3{ float:left;}

.email-verification{ width:96%;}

.profile{ width:96%;}
.profile-input1{ width:138px;}
.profile span p{ width:70%;}
.profile .sav-but-pro{ width:70%;}

.trip-alert-form-container{ height:auto; padding-bottom:15px; background:url("../../images/trip-alert-bg.jpg") repeat-x scroll center bottom rgba(0, 0, 0, 0);}
.trip-alert-form-container span{ width:83%;}
.trip-alert-form-container span em{ font-size:11px;}
.trip-alert-form-container span a{ padding:5px 8px; font-size:13px;}
.trip-input{ width:129px;}

.profile-photo-right{ width:394px; margin:15px 0 0; float:left;}
.profile-photo{ width:96%;}
.chose-input{ float:left;} 
.choose-photo a{ float:left;}
.pnl-info{ width:100%;}
.pnl-info p{ width:auto; padding:10px;}
.notifications{ padding:8px;}
.add-car{ padding:8px 8px 0;}
.left-deta{ width:100%;}

.rating-received{ padding:8px;}
.ratings-from{ padding:8px; width:auto;}
.list-choose-profil-left{ width:100%;}
.list-choose-profil-right{ width:100%; margin-top:15px;}

.ratings{ width:68%; /*float:left;*/ margin:0 0 20px 15px;}
.ratings-box{ width:94%;}
.ratings-box span{ width:100%; margin-bottom:15px;}
.ratings-input{ width:100%;}
.ratings-input1{ width:97.8%;}
.ratings-box a{ margin:0px;}
.email-alerts{ padding:12px;}

.messages-details label p{ width:655px; font-size:12px;}
.main-block{ padding:13px;}
.offer-seats-left{ width:100%;}
.offer-seats-right{ float:left; margin-top:10px;}
.ratings-input-mem{ width:172px;}

.user-profile-de{ width:81%; margin-left:5px; float:left;}
.main-infos-list{ width:100%;}

.subscribe{ width:276px; margin:25px 0 0 10px;}
.subscribe h2{ font-size:21px;}
.newsletter-but{ width:67px;}
.newsletter-ho{ width:195px;}
.fo-meniu{ width:240px; margin:25px 0 0 20px;}
.fo-meniu h2{ font-size:21px;}
.fo-meniu2{ width:180px;}
.fo-meniu2 h2{ font-size:21px;}
.fb-page{ width:100%;}
.fb-page img{ width:100%;}

.profile span em{ width:150px;} 
.profile-edit span em{ width:150px;}
.profile-edit span p{ width:70%;}
.profile-edit .sav-but-pro {width:65%;}

.mpv1 span strong{ width:85%;}
.mpv span p{ padding:7px 0 10px;}
.profile-photo-left{ width:140px;}
.profile-photo-right{width:71%;}
.member-picture{ width:140px;}
.main-infos-list{ width:70%; float:left; margin-left:7px;}
.main-infos-list li h1{ font-size:22px;}
.user-age{ font-size:16px;}
.clint-category li{ overflow:hidden;}
.sharing-result-box-right span img{ width:auto !important;}
.booking1 .sav-but-pro1{ width:61%;}
.big-prefs p{ padding:14px 8px;}

.main-block { overflow-x:scroll; padding:7px; width:98%;}
.tabs-main ul li{ margin:5px 0 0;}

.main-block-new{overflow-x: scroll; padding:0px; width:100%;}
.aria{ width:97%;}
.create-paypal{margin:3px 21px 0 0;}
.mpv{ width:96%;}

.blanck-co{ display:none;}

.ridelist-ho{overflow-x: scroll; padding:0px; width:100%;}
.sharing-result-box-main{overflow-x: scroll; padding:0px; width:100%;}
.sharing-result-box{ width:920px;}
.sharing-result-left{ width:230px;}
.profile-select{ width:325px;}
.profile-input{ width:310px;}
.profile-textarea{ width:310px;}

.dashboard-new-page-main-left-part{ width:292px;}
.dashboard-new-page-bottom-part-right{ float:left; width:100%; margin:12px 0 0;}
.dashboard-new-page-bottom-part-right li{ margin:0 0  15px; width:100%;}
.dashboard-new-page-bottom-part-right li:nth-child(3n){ margin:0 0  15px; width:100%;}
.dashboard-new-page-bottom-part-right li:nth-child(even){ margin:0 0  15px;}
.main-inner-page .dashboard-bottom-box1 h2{ font-size:23px;}
.main-inner-page .dashboard-bottom-box2 h2{ font-size:23px;}
.main-inner-page .dashboard-bottom-box3 h2{ font-size:23px;}
.main-inner-page .dashboard-bottom-box4 h2{ font-size:23px;}
.main-inner-page .dashboard-bottom-box5 h2{ font-size:23px;}
.main-inner-page .dashboard-bottom-box6 h2{ font-size:23px;}
.dashboard-new-page-main-right-part { float:left; margin:0 0 0 10px; width:59%;}
.dashboard-notifications{ float:left; width:100%; padding:0px; margin:0px;}
.dashboard-notifications-inner{ float:left; margin:0px; width:95%; overflow:hidden;}
.dashbord-left-part{width:31%;}
.dashboard-new-page-heading{width:99%;}


.email-alerts1 {overflow-x: scroll; padding: 0 0 15px;  width: 100%;}
.email-alerts1 table {float:left; width:800px!important;}

}

@media screen and (min-width:1021px) and (max-width:1169px) {
#main-div-top-second-bg-new-in{ width:100%;}
#footer{ width:100%;}
.lag{ float:none;color:#fff;}
#home-bootm-part{ width:100%;}
.main-in{ width:100%;}
.main-block{ width:96%;}
.clint-category li{ overflow:hidden;}
.footer-inner-cont{ width:98%;}
.ratings-inner{ margin:0px; padding:0px; width:99%;}
.main-top-part-inner{width:98%;}
.in-top-part{width:98%;}
.body-inner-part{width:98%;}
.main-block-inner{ width:auto;}
.main-block{ width:100%; overflow:auto;}
.sharing-result{ width:100%;}

.sharing-result-left{ width:240px;}
.sharing-result-right{ width:73%; float:left; margin:0 0 0 18px;}
.ridelist-ho {overflow-x:scroll; padding:0; width:100%;}
.sharing-result-box{ width:900px;}
.dashbord-right-part{ width:73%; float:left; margin:0 0 0 18px;}

.main-infos-list{ width:570px;}
.ratings{ width:75%;}

.left-about-part{ width:240px;}
.right-inner-part{ width:73%;}


.main-inner-page .dashboard-bottom-box1 h2{font-size: 25px;}
.main-inner-page .dashboard-bottom-box2 h2{font-size: 25px;}
.main-inner-page .dashboard-bottom-box3 h2{font-size: 25px;}
.main-inner-page .dashboard-bottom-box4 h2{font-size: 25px;}
.main-inner-page .dashboard-bottom-box5 h2{font-size: 25px;}
.main-inner-page .dashboard-bottom-box6 h2{font-size: 25px;}
.dashboard-notifications ul{ margin:0px; padding:0px; width:99%;}
.dashboard-new-page{ margin:0 auto; float:none; width:98%;}
.dashboard-new-page-main-left-part{width:292px;}
.dashboard-new-page-main-right-part{width:69.5%;}
.dashboard-notifications-inner{width:96%;}
.dashbord-right-part{width:75%;}
.dashbord-left-part{width:23%;}
.dashbord{margin-left:3px;}

.login-fr{width:257px;}

}


@media screen and (min-width:600px) and (max-width:5000px) {
.tabs-main .open-s{ display:none;}
.tabs-main ul{ display:block!important;}
.tabs-main ul li a{ height:35px;}
}