<div class="body-inner-part">
  <div class="bradcram"><span><a href="{$tconfig.tsite_url}">{$smarty.const.LBL_HOME}</a>&nbsp;&nbsp;&raquo;&nbsp;&nbsp;>{$smarty.const.LBL_EMAIL_VARIFICATION}</span></div>
  <div class="main-inner-page">
    <h2>{$smarty.const.LBL_EMAIL_VARIFICATION}</h2>
    <div class="right-inner-part">
      <h2>{$smarty.const.LBL_EMAIL_VARIFICATION}</h2>
      <p>{$msg}</p>
    </div>
	{include file="left.tpl"}
  </div>
  <div style="clear:both;"></div>
</div>