<div class="body-inner-part">
  <div class="bradcram"><span><a href="{$tconfig.tsite_url}">{$smarty.const.LBL_HOME}</a>&nbsp;&nbsp;&raquo;&nbsp;&nbsp;{$db_page[0].vPageTitle}</span></div>
  <div class="main-inner-page">
    <h2>{$db_page[0].vPageTitle}</h2>
    <div class="right-inner-part">
      <!-- <h2>{$db_page[0]['vPageTitle']}</h2><br /> -->
      <p>{$db_page[0].tPageDesc}</p>
    </div>
	{include file="left.tpl"}
  </div>
  <div style="clear:both;"></div>
</div>