@media screen and (min-width:1px) and (max-width:900px) {
/*.nav .active {background:#dc390a!important; padding:2px 8px!important;}
.nav a:hover {background:#dc390a!important; padding:2px 8px!important;}*/
}