@media print {
* {
	text-shadow: none!important;
	color: #000!important;
	background: transparent!important;
	box-shadow: none!important
}
a, a:visited {
	text-decoration: underline
}
a[href]:after {
	content: " (" attr(href) ")"
}
abbr[title]:after {
	content: " (" attr(title) ")"
}
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
	content: ""
}
pre, blockquote {
	border: 1px solid #999;
	page-break-inside: avoid
}
thead {
	display: table-header-group
}
tr, img {
	page-break-inside: avoid
}
img {
	max-width: 100%!important
}
@page {
margin:.5cm
}
p, h2, h3 {
	orphans: 3;
	widows: 3
}
h2, h3 {
	page-break-after: avoid
}
}


@media screen and (min-width:1px) and (max-width:1023px) {
.select-box select{ background:#fff; padding:3px; color:#000000;}
.custom-select1{ width:140px;}
.menu-collapser{ padding:0!important;}
}

@media screen and (min-width:1px) and (max-width:767px) {
#top-part{ position:relative; height:auto; background: #4c4c4c;}
.top-select-part{ margin:0px; padding:0; height:auto; border-top:4px solid #0eb7b0; background:#000000;}
.top-part-inner{ width:100%; background:#000000;}
.menu-part{margin:0px; float:left; width:100%;}
.navigation span { margin:0; position:relative; right:0px; top:0px; left:10px;}
.logo{ margin:0px; float:left; width:100%; text-align:center;}
.select-box{ margin:5px 7px 0 0;}
.top-logo-menu-part{ margin:10px 0;}
.header-up-bg{ padding:5px; }
.select-box select{ padding:3px;}
#rides-content{ height:auto; background:url("../../../images/home/Theme29/rides-bg.jpg") repeat scroll center top; padding:15px 0;}
.how-does-work{ width:98%;}
.how-does-work h2{ margin:10px 0 14px;}
.how-does-work li{ margin:0 10px 0 0; width:238px;}
.how-does-work li .how-does-work-img{ height:auto;}
.how-does-work li .how-does-work-img img{ width:100%;}
.rides-content-inner{ width:540px;}
.upcoming-rides-area{ width:100%; margin:10px 0 0;}
.ladies-rides{ width:100%; float:left; border:none; padding:0px; margin:0px;}
.featured-in-inner{ width:99%;}
#rides-content{ margin:15px 0 0;}

#footer{ height:auto; padding:0 0 10px;}
.footer-inner{ width:97%;}
.footer-box3{ float:left;}

#sldier{ height:auto!important;}
.index #finder{ padding:100px 0 0!important; height:207px!important;}
.backstretch{ height:306px!important;}
#finder .carpool{ padding-top:0px!important;}
#finder .from, #finder .to, #finder .datepicker{ width:100%!important;}
#finder #top-search-button{ margin:2px 5px 0px 0!important;}
#finder .datepicker{ width:120px!important;}
#body-content{ margin:15px 0 0;}
#finder form{ padding:0px!important; margin:0px!important;}
#finder span{ margin:5px 10px 5px 0!important; float:left;}
.header-up-bg .datepicker{ margin:5px 0 5px 0!important; float:left;}
#finder .from, #finder .to, #finder .location, #finder .hours{ margin:0px!important;}
#finder .btn { margin-top:3px;}
.ladies-rides ul h2{ font-size:23px;}
.rides-price h2{ font-size:23px;}
.footer-search-box{ height:auto; padding:0 0 20px;}
#finder .btn{ padding:7px 12px 8px!important;}
.upcoming-rides-area li{ width:100%;}

/*---------28012016----------*/
#finder span#swapper{margin:0px; width:auto !important;}
.header-up-bg .search-car-find-rad{float:left; margin-right:5px !important;}

#finder #top-search-button{float:left;}
}

@media screen and (min-width:1px) and (max-width:666px) {
.logo{ float:left; width:100%; text-align:center; margin:0px;}
.login-b-login {float: none; margin:0 auto;  padding:0; width:280px;}
.top-icons ul{ width:auto;}
.select-box {margin:6px 0; text-align:center; width:100%;}
.select-box select{ float:none; display:inline-table; margin:0px;}
.select-box .custom-select1{ width:128px;}
.select-box span{ margin:10px 0; padding:0px; float:left; width:100%; text-align:center;}
.top-logo-menu-part{ margin:0 0 10px;}
.top-select-part-inner{ float:left; width:100%;}
}

@media screen and (min-width:640px) and (max-width:767px) {
.how-does-work li {width:44.3%; margin-bottom:10px;}
}

@media screen and (min-width:545px) and (max-width:639px) {
.how-does-work{ width:549px;}
.how-does-work li{ margin:0 5px 0; width:42.5%;}
.how-does-work li p{font-size: 13px;}
.footer-box1{ width:300px;}
.footer-box2{ width:190px;}
.rides-content-inner{ width:535px;}
.rides-text{ width:250px; margin-left:20px;}
.rides-price{ width:120px;}
.ladies-rides li:last-child{ margin:0 0 45px;}
.upcoming-rides-area ul .trip{ margin:0px; padding:0px; float:left; width:100%;}
.ladies-rides ul .trip{ margin:0px; padding:0px; float:left; width:100%;}
.rides-price h2{ font-size:29px!important;} 
}

@media screen and (min-width:1px) and (max-width:544px) {
.how-does-work{ width:280px;}
.how-does-work h2{ font-size:29px; text-align:left;}
.how-does-work li{ margin:0 0 30px; width:250px;}
.footer-box1{ width:300px;}
.footer-box2{ width:190px;}
.rides-content-inner{ width:98%;}

.featured-in-inner li { margin: 5px 17px; }
#footer .footer-search { width: 307px; } 
#finder .from, #finder .to, #finder .datepicker { width:130px!important; }

.footer-box3{ width:94%;}
.footer-search-box h2{ margin:15px 0 0 10px;}
.footer-search-box span{ margin:10px 0 0 10px;}
.footer-bottom-part{ padding:10px 0 0; text-align:center}
}

@media screen and (min-width:1px) and (max-width:480px) {
#footer .footer-search{width:60%;}
}

@media screen and (min-width:1px) and (max-width:444px) {
.rides-text{ margin:15px 0 0 5px; width:224px;}
.rides-price{ width:80px;}
.footer-box1{ width:100%;}
.footer-box2{ width:100%;}
.footer-search-box h2{ margin-left:10px;}
.footer-search-box span{ margin-left:10px;}
#footer .footer-search{ width:60%; margin:0 0 0 10px; padding:0 0 0 10px;}
.footer-top-part span{ margin:15px 5px 0 0; width:96%; float:left;}
#footer .search-button{ width:auto; padding:0 10px;}
.footer-bottom-part p{ text-align:center;}
.featured-in-inner li{ margin:0 0 10px; float:left; width:100%; text-align:center;}
.rides-img{ margin:0 13px 0 0;}
.how-does-work h2{ font-size:23px;}
.how-does-work{ width:250px;}
.ladies-rides h2{ font-size:22px;}
.rides-img{ margin:0px; float:left; width:100%;}
.rides-img span{ width:109px;}
#finder .from, #finder .to{ text-align:left!important;}
.footer-bottom-part{ margin:15px 0 0; padding:10px 0 0;}
.rides-content-inner h3{ text-align:center; margin:5px 0;}

}

@media screen and (min-width:1px) and (max-width:414px) {
#finder span { width:100%;}
#finder .from, #finder .to { width:99%!important; } 
#finder #top-search-button { margin-right:10px!important;}
#finder #top-search-button{ float:left!important;}

.ladies-rides h2{ text-align:center;}
.ladies-rides h2 a{ float:none; display:inline-table; margin:0 10px;}
.upcoming-rides-area h2{ text-align:center;}
.upcoming-rides-area h2 a{ float:none; display:inline-table; margin:0 10px;}

.upcoming-rides-area li{ margin:0 0 25px;}
.rides-img{ width:109px; margin:0 auto; float:none;}
.rides-text{ margin:15px 0 0; width:100%; text-align:center;}
.rides-text h3{ margin:0 0 9px;}
.rides-text p{ width:100%;}
.rides-text span{ float:none;}

.rides-price{ width:100%; margin:7px 0 0;}
.rides-price h2{ text-align:center; margin:0px;}
.rides-price p{ margin:5px 0; width:100%;}
.rides-price span{ margin:0 auto; float:none;}
}

@media screen and (min-width:1px) and (max-width:350px) {
.rides-price{ margin:15px 0 0;}
}


@media screen and (min-width:1px) and (max-width:567px) {
#finder span{ width:48%; margin:5px 5px 5px 0!important;}
#finder .from, #finder .to, #finder{width:100%!important;}
#finder .datepicker{ width:28%!important;}
#finder #top-search-button {margin:2px auto auto!important; float:left!important;}
#finder .btn {padding:8px 12px!important;}
.header-up-bg .search-car-find-rad{ margin:5px 7px 0 0; float:left;}
.how-does-work li h2{font-size:17px;}
.index #finder{height:135px!important; padding:170px 0 0!important;}
.header-up-bg{ height:auto; width:98%;}
.header-up-bg .search-car-find-rad{ width:109px!important;}


#header-part .index #finder {
    height: 135px !important;
    padding: 81px 0 90px !important;
}
.how-does-work li {
    margin: 0 0 30px;
    width: 225px;
}
.trip .rides-price span{display:inline-flex !important; text-align:center;}
.rides-price p{text-align:center;}
#body-content{width:99%;}
#finder span{width:99% !important;}
}

@media screen and (min-width:1px) and (max-width:350px) {
#finder .btn{ padding:8px 6px !important;}
#footer .footer-search{width:59%;}
}

@media screen and (min-width:568px) and (max-width:666px) {
#finder span{ width:45%; margin:5px 5px 5px 0!important;}
#finder .from, #finder .to, #finder{width:100%!important;}
#finder .datepicker{ width:26%!important;}
#finder #top-search-button {margin:2px auto auto!important; float:left!important;}
#finder .btn {padding: 8px 12px !important;}
.header-up-bg .search-car-find-rad{ margin:5px 7px 0 0; float:left;}
.how-does-work li h2{font-size:17px;}
.index #finder{height:135px!important; padding:170px 0 0!important;}
.header-up-bg{ height:auto; width:96%;}

.index #finder {
    height: 135px !important;
    padding: 80px 0 90px !important;
}
.header-up-bg{width:99%;}
}

@media screen and (min-width:667px) and (max-width:767px) {
.upcoming-rides-area li{ margin:0 0 25px;}
.rides-price{width:114px;}
#finder span{ width:23%; margin:5px 5px 5px 0!important;}
.index #finder{height:135px!important; padding:170px 0 0!important;}
#finder .datepicker{ width:18%!important;}
#finder .from, #finder .to, #finder{width:100%!important;}
.header-up-bg .search-car-find-rad{ margin:5px 0 0;}
.how-does-work li h2{font-size:12px;}
#finder span{width:46% !important;}
#finder #top-search-button{float:left;}
.index #finder {
    height: 135px !important;
    padding: 61px 0 110px !important;
}

}

@media screen and (min-width:768px) and (max-width:1000px) {
#top-part{ position:relative; height:auto;}
.top-select-part{ margin:0px; padding:0px; height:auto; border-top:4px solid #0eb7b0; background:#000;}
.top-part-inner{ width:100%; background:#000000;}
.menu-part{margin:0px; float:left; width:100%;}
.navigation span { margin:0; position:relative; right:0px; top:0px; left:10px;}
.logo{ margin:0px; float:left; width:100%; text-align:center;}
.logo img{ margin:0 0 0 10px;}
.select-box{ margin:5px 10px 5px 0;}
.top-logo-menu-part{ margin:0; padding:10px 0; background:#0e0e0e;}
.header-up-bg{ padding:0 0 4px 6px;}
.select-box select{ padding:3px;}
#rides-content{ height:auto; background:url("../../../images/home/Theme29/rides-bg.jpg") repeat scroll center top; padding:15px 0 0;}
.how-does-work{ width:98%;}
.how-does-work h2{ margin:0 0 14px;}
.how-does-work li{ margin:0 10px 0 45px; width:270px;}
.how-does-work li .how-does-work-img{ height:auto;}
.how-does-work li .how-does-work-img img{ width:100%;}
.rides-content-inner{ width:540px;}
.upcoming-rides-area{ width:100%; margin:10px 0 0;}
.ladies-rides{ width:100%; float:left; border:none; padding:0px; margin:0px;}
.featured-in-inner{ width:99%;}

#footer{ height:auto; padding:0 0 10px;}
.footer-inner{ width:97%;}
.footer-box3{ float:left;}

#sldier{ height:auto!important;}
.index #finder{ padding:120px 0 0!important;}
.backstretch{ height:306px!important;}
#finder .carpool{ padding-top:0px!important;}
#finder .from, #finder .to, #finder .datepicker{ width:143px!important; margin-left:0!important;}
#finder #top-search-button{ margin:5px 5px 5px 0 !important;}
#finder .datepicker{ width:100px!important;}
.index #finder .intro h5{ font-size:60px!important;}
.featured-in-inner li { width: 23.6%; }
.featured-in-inner li img { width: 100%; }
.rides-price h2{ font-size:23px;}
.ladies-rides ul h2{ font-size:23px;}
.upcoming-rides-area li{ margin:0 0 20px; width:100%;}
.rides-price{ width:114px;}

/*---------28012016p-----------*/
#finder .datepicker{  padding: 8px 4px 8px 9px;}
#body-content{margin-top:60px;}
}


@media screen and (min-width:1001px) and (max-width:1169px) {
.top-part-inner{ width:98%;}

#rides-content{ height:auto; background:url("../../../images/home/Theme29/rides-bg.jpg") repeat scroll center top; padding:15px 0 0;}
.how-does-work h2{ margin:10px 0 14px;}
.rides-content-inner{ width:550px;}
.upcoming-rides-area{ width:100%; margin:10px 0 0;}
.ladies-rides{ width:100%; float:left; border:none; padding:0px; margin:0px;}
.featured-in-inner{ width:99%;}
#body-content{ margin:5px 0 0;}
#sldier{ height:auto!important;}
#finder .from, #finder .to {width:187px !important;}
.backstretch {height: 530px !important;}
#footer{ height:auto; padding:0 0 10px;}
.footer-inner{ width:97%;}
.footer-box1{ width:300px;}
.footer-box2{ width:180px;}
.footer-box3{ width:483px;}
.upcoming-rides-area li{ margin:0 0 20px; width:100%;}
.ladies-rides li{ margin:0 0 20px;}
.ladies-rides li:last-child{ margin:0 0 20px;}

#sldier .span12{float:none; margin:0 auto; width:800px;}

/*------28012016p---------*/
#finder .datepicker{ padding: 8px 7px 8px 11px;}
}
