@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300,500,900,800,600,200,100);

body{ margin:0px; padding:0px; font-size:13px; font-family: 'Raleway', sans-serif;  color:#333333;}
img{ margin:0px; padding:0px; border:none;}
li{ margin:0px; padding:0px; display:block;}
p{ margin:0px; padding:0px; line-height:19px;}
a{ margin:0px; padding:0px; text-decoration:none;}
h1, h2, h3, h4{ margin:0px; padding:0px; font-weight:normal;}
strong, em{ margin:0px; padding:0px; font-weight:normal; font-style:normal;}

#main-content{ margin:0px; padding:0px; float:left; width:100%;}

/*..........................top-part.....................*/

#top-part{ margin:0px; padding:0px; float:left; width:100%; background:url(../../../images/home/Theme29/top-bg.png) repeat-x; height:144px; position:absolute; top:0; left:0; z-index:999;}
.top-part-inner{ margin:0 auto; padding:0px; width:1170px; position:relative; z-index:999;}
.top-select-part{ margin:0px; padding:0px; float:left; width:100%; height:36px;}
.select-box-main{ margin:0px; padding:0px; float:left; width:100%;}
.select-box{ margin:7px 0 0; padding:0px; float:right;}
.select-box select{ margin:0 8px 0 0; padding:1px 0; float:left;  position: relative; background:#0eb7b0; color:#fff; border:1px solid #069690; font-size:11px; text-transform:uppercase;}
.select-box .custom-select1{ width:130px;}
.select-box .select-wrapper{ float: left; display: inline-block; border:none; background:url("../../../images/home/Theme29/arrow.png") no-repeat scroll right 4px top 9px #4c4d4d; cursor: pointer; }
.select-box .select-wrapper em{ width:93%;}
.select-box .select-wrapper, .select-wrapper select{ border:1px solid #069690; padding:2px; margin:0 4px;}
.select-box span{ margin:4px 0 0 6px; padding:0px; float:right; color:#fff; font-size:12px; text-transform:uppercase;}
.select-box span a{ margin:0px; padding:0px; color:#fff; font-size:12px;}
.select-box span a:hover{ color:#FFFFFF;}

.top-logo-menu-part{ margin:30px 0 0; padding:0px; float:left; width:100%;}
.logo{ margin:7px 0 0; padding:0px; float:left;}
.menu-part{ margin:17px 0 0; padding:0px; float:right;}

.login-b-login{ margin:0px; padding:0px;}
.top-div-iocn{ margin:0 15px 0 0; padding:0px; float:right;}
.top-icons{ margin:6px 0 0 8px; padding:0px; float:left;}
.top-icons ul{ margin:0px; padding:0px; float:right; width:116px;}
.top-icons li{ margin:0px; padding:0px; float:right; width:35px; position: relative;}
.top-icons li a{ margin:0px; padding:0px; }
.top-icons li a strong{ margin:0px; padding:0px; float:left; width:100%; color:#FFFFFF; position:relative; position: absolute; top: -5px; left: -5px;}

.user-part-main{ margin:0px; padding:0px; float:right; width:auto;}

.user-part{background:#08a19b; border: medium none; border-radius: 0; float: right; margin:1px 0 0; padding:2px 7px;}
.user-part img{ margin:0 10px 0 0; padding:0px; float:left; width:29px; }
.user-part h2{ margin:0px 0 0; padding:0px; color:#fff; font-size:14px; text-align:left; float:left; display: block; margin-top: 5px;}
.user-part p{ margin:0px; padding:0px; text-align:left;  margin-top: 5px;}
.user-part p a{ margin:0px; padding:0px; color:#fff; height: 25px; display: block; }
.user-part p img{ float:right; margin:0px; padding:0 0 0 3px; float:none; width:auto;}

.drop-menu { margin:0px; padding:0px; position:relative; float: left; display: block; margin-left: 10px;}
.drop-menu:hover .sub-menu { display: inline-block; }
.drop-menu:hover .plus { -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); }
.sub-menu { display: none; width: 90px; background:#0eb7b0; padding:0 5px 5px; margin:0px 0 0; border: 1px solid #0fd3cb; position: absolute; z-index:9999; left:0px;}
.sub-menu li { list-style-type: none; display: block; border-bottom: 1px solid #0fd3cb; font-size: 12px; padding:7px 0; text-align:left; }
.sub-menu li a{ margin:0px; padding:0px; color:#FFF;}
.sub-menu li a:hover { color:#000;}

/*...........................header-part....................*/

#header-part{ margin:0px; padding:0px; float:left; width:100%;}
#header-part img{ margin:0px!important; padding:0px!important; width:100%; top:0!important;}
.backstretch{ height:690px !important;}

/*...........................body-part....................*/

#body-content{ margin:35px 0 0; padding:0px; float:left; width:100%; }
.how-does-work{ margin:0 auto; padding:0px; width:888px;}
.how-does-work h2{ margin:0 0 23px; padding:0 0 10px; float:left; width:100%; font-size:49px; color:#0eb7b0; font-weight:bold; text-align:center;
text-transform:uppercase; background:url(../../../images/home/Theme29/heading-bottom-line.png) no-repeat scroll center bottom 1px;}
.how-does-work ul{ margin:0px; padding:0px; float:left; width:100%;}
.how-does-work li{ margin:0 25px 0 0; padding:12px; float:left; width:250px; border:1px solid #cccccc;}
.how-does-work li:last-child{ margin-right:0px;}
.how-does-work li .how-does-work-img{ margin:0px; padding:0px; float:left; width:100%; height:276px; border-bottom:3px solid #0eb7b0;}
.how-does-work li h2{ margin:12px 0 4px; padding:0px; float:left; width:100%; font-size:20px; font-weight:600; text-align:left; background:none;
color:#0eb7b0; text-transform:none;}
.how-does-work li p{ margin:0px; padding:0px; float:left; width:100%; font-size:14px; color:#7a7a7a; min-height:100px;}

#rides-content{ margin:65px 0 0; padding:0 0 20px; background:url(../../../images/home/Theme29/rides-bg.jpg) repeat scroll center top; 
height:auto; background-size:100%;}
.rides-content-inner{ margin:0 auto; padding:0px; width:1170px;}

.upcoming-rides-area{ margin:25px 0 0; padding:0px; float:left; width:47%;}
.upcoming-rides-area h2{ margin:0px; padding:0px; float:left; width:100%; color:#0eb7b0; font-size:25px; font-weight:500; text-transform:uppercase;}
.upcoming-rides-area h2 a{ margin:0; padding:8px; float:right; color:#FFFFFF; text-transform:uppercase; font-size:13px;
border:1px solid #0eb7b0; border-radius:3px;}
.upcoming-rides-area h2 a:hover{color:#0eb7b0;}
.upcoming-rides-area ul{ margin:20px 0 0; padding:0px; float:left; width:100%;}
.upcoming-rides-area li{ margin:0 0 20px; padding:0px; float:left; width:49%;}
.upcoming-rides-area li:last-child(even){ float:right;}

.rides-img{ margin:0px; padding:0px; float:left; width:109px;}
.rides-img span{ margin:0px; padding:0px; float:left; width:100%; border:2px solid #0eb7b0; overflow:hidden; height:110px;}
.rides-text{ margin:2px 0 0 25px; padding:0px; float:left; width:300px;}
.rides-text p{ margin:0 0 6px; padding:0px; float:left; font-size:15px; color:#a6a6a6;}
.rides-text h3{ margin:0 0 10px; padding:0px; float:left; font-size:15px; color:#ffffff; font-weight:500; width:100%;}
.rides-text span{ margin:0px; padding:0px; float:left;}
.rides-price{ margin:0px; padding:0px; float:right; width:110px;}
.rides-price p{ float:right;}
.rides-price span{ float: left; margin: 10px 0 0 !important; padding: 0; text-align: left; width: 100%;}
.rides-price h2{ margin:10px 0 0; padding:0px; float:right; width:100%; color:#FFFFFF; font-size:25px; text-align:right;}

.ladies-rides{ margin:25px 0 0; padding:0 0 0 38px; float:right; width:47%; border-left:1px solid #232827;}
.ladies-rides h2{ float:left; width:100%; color:#0eb7b0; font-size:25px; font-weight:500;}
.ladies-rides h2 a{ border:1px solid #0eb7b0; border-radius:3px; color:#ffffff; float:right; font-size:13px; margin:0; padding:8px; text-transform:uppercase;}
.ladies-rides h2 a:hover{color:#0eb7b0;}
.ladies-rides ul{ margin:20px 0 0; padding:0px; float:left; width:100%;}
.ladies-rides ul h2{ font-size:25px; color:#FFFFFF;}
.ladies-rides li{ margin:0 0 45px; padding:0px; float:left; width:100%;}
.ladies-rides li:last-child{ margin:0 0 15px;}

/*...........*/

#featured-in{ margin:0px; padding:0px; float:left; width:100%;}
.featured-in-inner{ margin:0 auto; padding:0px; width:1170px;}
.featured-in-inner h2{ margin:20px 0 0; padding:0 0 10px; float:left; width:100%; font-size:49px; color:#0eb7b0; text-align:center; font-weight:bold; 
background:url("../../../images/home/Theme29/heading-bottom-line.png") no-repeat scroll center bottom 1px; text-transform: uppercase;}
.featured-in-inner ul{ margin:25px 0 0; padding:0px; float:left; width:100%; text-align:center;}
.featured-in-inner li{ margin:5px; padding:0px; float:none; display:inline-block;}

/*............footer...................*/

#footer{ margin:15px 0 0; padding:0px; float:left; width:100%; height:auto; background:#000000;}
.footer-inner{margin:0 auto; padding:0px; width:1170px;}
.footer-top-part{margin:16px 0 0; padding:0px; float:left; width:100%;}
.footer-top-logo-part{margin:0px; padding:0px; float:left; width:100%;}
.footer-logo{ margin:0px; padding:0px; float:left; width:auto;}
.footer-logo img{ width:170px;}
.footer-top-part span{ margin:8px 5px 0 0; padding:0px; float:right;}
.footer-top-part span img{ margin:0 5px; padding:0px; float:left;}

.footer-mid-part{ margin:0px; padding:0px; float:left; width:100%;}

.footer-left-part{ margin:0px; padding:0px; float:left; width:60%;}
.footer-box1{ margin:15px 0 0; padding:0px; float:left; width:400px;}
.footer-box1 h2{ margin:0 0 12px; padding:0px; float:left; width:100%; font-size:19px; color:#0eb7b0; font-weight:500; text-transform:uppercase;}
.footer-box1 ul{ margin:0px; padding:0px; float:left; width:100%;}
.footer-box1 li{ margin:0px; padding:0px; float:left; width:100%; line-height:28px;}
.footer-box1 li a{ margin:0px; padding:0px; float:left; width:100%; font-size:13px; color:#ccc; text-transform:uppercase;}
.footer-box1 li a:hover{ color:#FFFFFF;}

.footer-box2{ margin:15px 0 0; padding:0px; float:left; width:250px;}
.footer-box2 h2{ margin:0 0 12px; padding:0px; float:left; width:100%; font-size:19px; color:#0eb7b0; font-weight:500; text-transform:uppercase;}
.footer-box2 ul{ margin:0px; padding:0px; float:left; width:100%;}
.footer-box2 li{ margin:0px; padding:0px; float:left; width:100%; line-height:28px;}
.footer-box2 li a{ margin:0px; padding:0px; float:left; width:100%; font-size:13px; color:#ccc; text-transform:uppercase;}
.footer-box2 li a:hover{ color:#FFFFFF;}

.footer-box3{ margin:27px 0 0; padding:0px; float:right; width:493px;}
.footer-search-box{ margin:0px; padding:0px; float:left; width:100%; height:111px; background:#0e0e0e;}
.footer-search-box h2{ margin:15px 0 0 23px; padding:0px; float:left; width:90%; font-size:20px; color:#43b118; font-weight:500; text-transform:none;}
.footer-search-box span{ margin:10px 0 0 23px; padding:0px; float:left; width:94%;}
#footer .footer-search{ margin:0px; padding:0 0 0 10px; width:333px; height:38px; border:1px solid #1e1e1e; background:none; float:left; color:#FFFFFF;}
#footer .search-button{ margin:0px; padding:0px; float:left; background:#43b118; color:#FFFFFF; width:102px; height:40px; font-size:17px; text-transform:uppercase; border:none; font-weight:500; cursor:pointer;}
#footer .search-button:hover{ background:#3e9d1a;}
.footer-box3 p{ margin:10px 0 0; padding:0px; float:left; width:100%; color:#656565; font-size:14px;}

.footer-right-part{ margin:5px 0 0; padding:0px; float:right; width:419px;}
.footer-right-part h2{  color: #fff; float:left; font-size: 25px; font-weight: 700; letter-spacing:5px; margin:0; padding: 0; width:100%;}
.footer-right-part h2 b { color: #0eb7b0; font-weight: 700; margin: 0; padding: 0; }
.map{ margin:20px 0 0; padding:0px; float:left; width:100%; text-align:center;}

.footer-search-box{ margin:0px; padding:0px; float:left; width:100%; height:111px; background:#0e0e0e;}
.footer-search-box h2{ margin:15px 0 0 23px; padding:0px; float:left; width:90%; font-size:20px; color:#0eb7b0; font-weight:500;}
.footer-search-box span{ margin:10px 0 0 23px; padding:0px; float:left; width:94%;}
#footer .footer-search{ margin:0px; padding:0 0 0 10px; width:333px; height:38px; border:1px solid #1e1e1e; background:none; float:left; color:#FFFFFF;}
#footer .search-button{ margin:0px; padding:0px; float:left; background:#0eb7b0; color:#FFFFFF; width:102px; height:40px; font-size:17px; text-transform:uppercase; border:none; font-weight:500; cursor:pointer;}
.search-button:hover{ background:#e25a00;}
.footer-box3 p{ margin:10px 0 0; padding:0px; float:left; width:100%; color:#656565; font-size:14px;}

.footer-bottom-part{border-top: 1px solid #171717; float: left; margin: 20px 0; padding: 13px 0 0; width: 100%;}
.footer-bottom-part p{ margin:0px; padding:0px; float:left; font-size:12px; color:#7b8383;}
.footer-bottom-part .site-name{ color:#FFFFFF;}
.footer-bottom-part p a{ color:#0eb7b0;}
.footer-bottom-part p a:hover{ color:#5a5a5a;}
.footer-bottom-part span{ float:right; margin:5px 0 0; padding:0px;}

/*............*/

.header-up-bg{ margin:0px; padding:7px; float:left; width:auto; background:rgba(0, 0, 0, 0.5); height:auto;}


#home-bootm-part{ margin:20px 0; padding:20px 0; width:100%; float:left; background:#efefef;}
.home-bootm-part-inner{ margin:0 auto; padding:0px; width:1170px; }
.home-bootm-part-inner-1{ margin:0; padding:0px; width:100%; float:left;}

.latest-blog{ margin:0 25px 0 0; padding:10px 10px 5px 15px; background:#44aa00; width:357px; float:left;}
.latest-blog h2{ margin:4px 0 14px; padding:0px; color:#727272; font-size:24px; float:left; color:#FFFFFF; width:98%;}
.latest-blog h2 span{ margin:0px; padding:0px; color:#44aa00;  color:#FFFFFF;}
.latest-blog h2 a{ margin:5px 0 0; padding:0px; float:right; color:#FFFFFF; font-size:15px; color:#e7e7e7;}
.latest-blog h2 a:hover{ color:#000000;}
.latest-blog ul{ margin:0px; padding:0px; float:left; width:100%;}
.latest-blog li{ margin:0 0 11px; padding:0 0 12px; float:left; width:100%; border-bottom:1px solid #7ec216;}
.latest-blog li:last-child{ border:none;}
.latest-blog li strong{ margin:0px; padding:0px; float:left; width:100%;}
.latest-blog li strong a{ margin:0px; padding:0px; float:left; width:100%; color:#FFFFFF; font-size:15px;}
.latest-blog li strong a:hover{ color:#f7ffb6;}
.latest-blog li img{ margin:0px; padding:0px; float:left; border:1px solid #e0f154;}
.latest-blog li p{ margin:0 0 3px; padding:0px; color:#f7ffb6; font-size:12px; width:100%; float:left; min-height:45px;}
.latest-blog li p strong{ margin:0 0 6px; padding:0px; float:left; width:100%; color:#FFFFFF; font-size:15px;}
.latest-blog li p strong a{ margin:0px; padding:0px; float:left; width:100%; color:#FFFFFF; font-size:15px;}
.latest-blog li p strong a:hover{ color:#f7ffb6;}
.latest-blog .last{ margin-bottom:0px; border:none;}
.latest-blog .date{ margin:0px; padding:0px; float:left; width:100%; color:#FFFFFF;}

.watch-how-it-works{ margin:0px; padding:0px; float:left; width:500px;}
.watch-how-it-works h2{ margin:0 0 15px; padding:0px; color:#44aa00; font-size:24px; width:100%;}
.watch-how-it-works h2 span{ margin:0px; padding:0px; color:#44aa00; }
.watch-how-it-works h2 a{ margin:7px 0 0; padding:0px; float:right; color:#387410; font-size:15px;}
.watch-how-it-works h2 a:hover{ color:#48ab07;}
.watch-how-it-works p{ margin:0px; padding:0px; float:left; width:100%; height:232px;}

.map-ho{ margin:0; padding:0px; float:right;}

.subscription-div{margin:0px; padding:0 0 35px 0; float:left; width:100%; background:#ebebeb;}
.subscription-div .trust-safety-div-inner{margin:0 auto; padding:35px 0 0; width:1170px;}
.subscription-div .trust-safety-div-inner .trust-safety-div{margin:0 60px 0 0; padding:0px; float:left; width:366px;}
.trust-safety-div-inner .trust-safety-div h2{margin:0px; padding:0 0 15px; float:left; width:100%; font-size:25px; font-weight:700; color:#0eb7b0;} 
.trust-safety-div-inner .trust-safety-div b{margin:0px; padding:0px; float:left;}
.trust-safety-div-inner .trust-safety-div p{margin:0px; padding:10px 0 8px 0; float:left; width:100%; font-size:14px; color:#5d5d5d; line-height:21px;} 
.trust-safety-div-inner .trust-safety-div span{margin:0px; padding:0px; float:left; width:100%;}
.trust-safety-div-inner .trust-safety-div span .view-more-btn{margin:0px; padding:0px; float:right; width:117px; height:42px; border:none; border-radius:4px; background-color:#0eb7b0; color:#fff; font-size:16px;}
.trust-safety-div-inner .trust-safety-div span .view-more-btn:hover{background-color:transparent; color:#0eb7b0; border:1px solid #0eb7b0;}

.trust-safety-div-inner .fb-likes-div{margin:0 57px 0 0; padding:0px; float:left; width:292px;}
.trust-safety-div-inner .fb-likes-div b{margin:0px; padding:0px; float:left; width:100%;}

.trust-safety-div-inner .newsletter{margin:0px; padding:0px; float:left; width:395px;}
.trust-safety-div-inner .newsletter h2{margin:0px; padding:0 0 15px; float:left; width:100%; font-size:25px; font-weight:700; color:#0eb7b0;}
.trust-safety-div-inner .newsletter span{margin:0px; padding:0px; float:left; width:100%; border:1px solid #dddddd; border-radius:5px; background-color:#fff; position:relative;}
.trust-safety-div-inner .newsletter span .newsletter-text{margin:15px; padding:15px 0 15px 10px; font-size:16px; float:left; width:90%; border-radius:5px; border:1px solid #cdcdcd; position:relative;}
.trust-safety-div-inner .newsletter span .submit-btn{margin:0; padding:0px; width:117px; height:40px; position:absolute; z-index:1000; border:none; border-radius:4px; background-color:#0eb7b0; color:#fff; font-size:16px; right:19px; top:21px;}
.trust-safety-div-inner .newsletter span .submit-btn:hover{cursor:pointer; background-color:transparent; border:1px solid #0eb7b0; color:#0eb7b0;}
.trust-safety-div-inner .newsletter p{margin:0px; padding:7px 0 0 0; float:left; width:100%; font-size:14px; color:#656565; line-height:21px;}
