.header-in-top{margin:0px; padding:0px; float:left; width:100%; background:url(../../../images/home/Theme29/header.png) no-repeat; height:286px; width:100%;}
.header-in-bot{ background:#000000;}
.he-input{ border:1px solid #0eb7b0;}
.search-but{ color:#000000; background:#d03a0d;}
.search-but:hover{ background:#0eb7b0; color:#fff;} 
.latest-blog{ background:#0eb7b0;}
.latest-blog li {border-bottom:1px solid #ff663d;}
.latest-blog li p{color:#FFFFFF;}
.watch-how-it-works h2{ color:#727272;}
.watch-how-it-works h2 span{color:#0eb7b0;}
.watch-how-it-works h2 a{color:#a32504;}
.subscribe h2 span {color:#0eb7b0;}	
.fo-meniu h2{color:#0eb7b0;}
.fo-meniu2 h2{color:#0eb7b0;}
.newsletter-but{background:#0eb7b0; color:#fff;}
.footer-bot-part p a {color:#0eb7b0;}
.footer-bot-part span h3 {color:#0eb7b0;}
.newsletter-but:hover{ background:#0eb7b0; color:#fff;}
.footer-bot-part .site-n:hover{color:#0eb7b0;}
.he-input-cal{border:1px solid #0eb7b0;}

.simptip-info.simptip-position-top:before{border-top-color: #0eb7b0!important;}
.simptip-info.simptip-position-top:after{background-color: #0eb7b0!important;}

.search-car-top-part{/*background:#000000;*/}
.search-car-find-date{border:1px solid #0eb7b0;}
.top-part{border-bottom:2px solid #0eb7b0;}
.main-inner-page h2{color:#0eb7b0;}
.bradcram span a{color:#0eb7b0;}
.search-car-find-cla {border:1px solid #0eb7b0;}
.informaction h1{ background:#0eb7b0;}
.singlerow-login-log a{ background:#0eb7b0;}
label strong{ color:#b6d3ff;}
.singlerow-forgot a{ background:#0eb7b0;}
.singlerow-login a{ background:#0eb7b0;}
.form span a{ background:#0eb7b0;}
.contact-left p a{ color:#0eb7b0;}
.user-part h2{color:/*#0eb7b0;*/#fff;}
.user-part p a{color:/*#0eb7b0;*/#fff;}
.tabs-main{ border-bottom:3px solid #0eb7b0;}
/*.tabs-main ul li a:hover, .tabs-main ul li a.active{background:#0eb7b0;}*/

.main-block span em strong{color:#0eb7b0;}
.trip-search-facets h2{color:#FFFFFF; background:#0eb7b0;}
.trip-comfort h2 {color:#FFFFFF; background:#0eb7b0;}
.trip-photo h2 {color:#FFFFFF; background:#0eb7b0;}
.trip-search-sort-right a{color:#FFFFFF; background:#0eb7b0;}
.sharing-result-box-right span strong{color:#0eb7b0;}
.tabing .active{background:#0eb7b0;}

.type-of-trip h2{background:#0eb7b0; color:#FFFFFF; padding:8px 0 6px 10px;}
.type-of-trip2 h2{background:#0eb7b0; color:#FFFFFF; padding:8px 0 6px 10px;}
.type-of-trip3 h2{background:#0eb7b0; color:#FFFFFF; padding:8px 0 6px 10px;}
.cont-bot-but{ background:#0eb7b0;}

.offer-a-ride h2{background:#0eb7b0; color:#FFFFFF; padding:8px 0 6px 15px;}
.offer-a-ride3 h2{background:#0eb7b0; color:#FFFFFF; padding:8px 0 6px 15px;}
.cont-bot-but2 {background:#0eb7b0;}

.cont-bot-but1{background:#0eb7b0;}

.offer-a-ride4 span p a{ color:#0eb7b0;}
.singlerow-reg a{background:#0eb7b0;}

.faq li h2{color:#0eb7b0;}
.tell-u:hover{ background:#0eb7b0;}
.profile .sav-but-pro a{background:#0eb7b0;}

.wday{ background:#0eb7b0;}
.out{ background-color:#fec0ad;}
.outbdday td{ background:#0eb7b0 !important; color:#FFFFFF;}
.offer-a-ride span p b{ color:#0eb7b0;}
.memberpaydtls{ background:#0eb7b0!important;}
.apply-btn-loader{background:#0eb7b0;}
.apply-btn-loader:hover{background:#0eb7b0;}
.mpv span a{color:#0eb7b0;}
.mpv1 span strong{color:#0eb7b0;}
.notification-save a{background:#0eb7b0;}


.aria a{background:#0eb7b0;}

.back1 a{background:#0eb7b0;}

.pnl-info a{background:#0eb7b0;}

.profile-photo-right span a{color:#0eb7b0;}
.profile-photo-left span a{color:#0eb7b0;}
.social-sharing-inner p a{color:#0eb7b0;}
.messages-details label span{color:#0eb7b0;}
.link-dashbord{background:#0eb7b0;}
.link-dashbord:hover{background:#0eb7b0;}
.my-car-photo a{color:#0eb7b0;}
.add-car span a{background:#0eb7b0;}
.car-share-preferences label a{background:#0eb7b0;}
.borderClass{ border:2px solid #0eb7b0;}
.canbooking{background:#0eb7b0;}

.top-title span{ color:#0eb7b0;}
.tabs2 a{background:#0eb7b0;}
.donateGreenBtn{background:#0eb7b0;}
.donateGreenBtn:hover{background:#0eb7b0;}
.clint-category .trip-box-right p strong{ color:#0eb7b0;}
.booking1 .sav-but-pro1 a{background:#0eb7b0;}
.pbulish-but a{background:#0eb7b0;}

.trip-alert-form-container span a{ background:#0eb7b0;}

.notifications-bottom-part li a{ color:#0eb7b0;}
.verifications-zone p a{ color:#0eb7b0;}
.trip-deails .trip-deails-right{font-size:25px;}

.ride-f li{ background:#dc390a;}
.ride-f li a{ color:#FFFFFF;}