<ul>	
		<li><img src="{$tconfig.tpanel_img}icons/icon_breadcrumb.png" alt="Location" /></li>
		<li><strong>Location:</strong></li>
			
		
		<li><a href="#" title="">Sub Section</a></li>
		<li>/</li>
		<li class="current">Control Panel</li>
	</ul>