<div style="float: left;padding-top:0;">&nbsp;<img src="{$logodis}" alt="Control Panel" title="logo" class="logo1" /></div><div class="control_panel">Control Panel</div><div style="float: right;">
<div class="user">
	<p>Logged in as:</p>
	<p class="username">{$sess_vFirstName} {$sess_vLastName}</p>
	<p class="userbtn"><a href="{$tconfig.tpanel_url}/index.php?file=ad-administrator&mode=edit&iAdminId={$sess_iAdminId}" title="{$sess_vFirstName} {$sess_vLastName}">Profile</a></p>
	<p class="userbtn"><a href="{$tconfig.tpanel_url}/index.php?file=au-logout" title="Log out">Log out</a></p>
</div>
</div>