input.span3, textarea.span3, .uneditable-input.span3{ width:206px!important;}
#footer .search-button{ width:auto; padding:0 10px;}
#footer .footer-search{ width:307px;}
#finder .btn{ padding:8px 10px!important;}