@media screen and (min-width:1px) and (max-width:767px) {
.lag{ position:relative; top:0; right:0;}
.ride-ho{ margin:0 auto;}
.top-right-part{ width:100%;}
.social-icon{ margin:10px 0 0;}
.body-top-search-part-inner span{ width:100%;}

.ho-right-top{ margin:8px 0 0; width:100%;}
.ride-f ul {width: 244px;}

.header-in-top h3 span{ padding:16px 10px 14px 8px; font-size:19px;}
.footer-search-box h2{ margin-left:15px;}
.footer-search-box span{ margin-left:15px;}
}

@media screen and (min-width:1px) and (max-width:500px) {
#footer .footer-search{ width:57%;}
}

@media screen and (min-width:1px) and (max-width:400px) {
.ride-ho li a{ padding:0px; width:100%;}
#footer .footer-search{ width:57%!important;}
#footer .search-button {font-size: 15px; padding: 0 5px; width:auto !important; }
}

@media screen and (min-width:1px) and (max-width:445px) {
.lag span{ margin:5px 0 10px; float:left; width:100%; text-align:center;}
.lag em{ float:left; width:100%; text-align:center;}
}

@media screen and (min-width:768px) and (max-width:1022px) {
.lag{ position:relative; top:0; right:0;}
.ride-ho{ margin:0 auto;}
.top-right-part{ width:100%;}
.social-icon{ margin:10px 0 0;}
.body-top-search-part-inner span{ width:100%;}

.ho-right-top{ margin:8px 0 0; width:100%;}
.subscribe{ width:302px; margin:25px 14px 0 10px;} 
.fo-meniu{ width:267px;}
.fo-meniu2{ width:150px;}
.fo-meniu li a{ padding:0 0 0 12px; font-size:12.5px;}
#sldier #finder .datepicker { width:110px!important;}
}

@media screen and (min-width:1023px) and (max-width:1024px) {
#sldier .span12 form {float:left; margin:0 0 20px 10px;}
}

@media screen and (min-width:1025px) and (max-width:1169px) {
#sldier .span12 form {float:left; margin:0 0 20px 10px;}
}