@media screen and (min-width:1px) and (max-width:767px) {
.singlerow-reg{ float:left; width:100%;}
.singlerow-reg a{ font-size:15px; padding:7px 16px;}
.singlerow-login-log{ float:left;}
.singlerow-login-log a{ font-size:15px; padding:7px 13px;}

.top-right-part{ width:100%;}
.logo{ width:100%;}
.ho-right-top{ width:100%;}
}

@media screen and (min-width:1px) and (max-width:390px) {
.form-input-login-for{ width:69%;}
.trip-search-sort-right em{ font-size:13px;}
.trip-search-sort-right a{ padding:7px; font-size:14px;}
}
@media screen and (min-width:1px) and (max-width:527px) {
.trip-search-sort-right{ float:left; margin:6px 0 0 10px;}
.link-dashbord{ padding:3px 10px; font-size:15px;}
.main-infos-list{ margin:5px 0 0;}
.main-infos-list li h1{ font-size:22px;}
}
@media screen and (min-width:397px) and (max-width:567px) {
.fordot span{ width:100%;}
.form-input-login-for{ width:66%;}
}

@media screen and (min-width:568px) and (max-width:767px) {
.fordot span{ width:100%;}
.form-input-login-for{width:67%;}
.fordot span em{ margin-top:3px;}
.main-infos-list li h1{ font-size:22px;}
.link-dashbord{ font-size:15px; padding:3px 9px;}
}

@media screen and (min-width:768px) and (max-width:1020px) {
.main-infos-list li h1{ font-size:22px;}
.link-dashbord{ font-size:15px; padding:3px 9px;}
.progress{width:68%;}

.top-right-part{ width:100%;}
.logo{ width:100%;}
.ho-right-top{ width:100%;}
.tabs-main ul li{ margin:5px 0 0;}
}

@media screen and (min-width:1px) and (max-width:900px) {
.nav .active {background:#dc390a!important; padding:2px 8px!important;}
.nav a:hover {background:#dc390a!important; padding:2px 8px!important;}
}