
	
		<link rel="stylesheet" media="all" type="text/css" href="jquery-ui.css" />
		<link rel="stylesheet" media="all" type="text/css" href="jquery-ui-timepicker-addon.css" />
		
		<script type="text/javascript" src="jquery-1.6.2.js"></script>
		<script type="text/javascript" src="jquery-ui.min.js"></script>
		<script type="text/javascript" src="jquery-ui-timepicker-addon.js"></script>
		<script type="text/javascript" src="jquery-ui-sliderAccess.js"></script>
		<script type="text/javascript">
			
			$(function(){
      			$('#basic_example_1').datepicker({
      	    minDate: 0 	
      });
			});
			
		</script>


					<!-- ============= example -->
					
					 
					 		<input type="text" name="basic_example_1" id="basic_example_1" value="" />
						 					


